.footer-list-styling {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      line-height: 1.5;
      font-size: 1rem;

      &+li {
        margin-top: 1rem;
      }

      a {
        text-decoration: none;
        color: $footer-link-color;

        &:hover {
          color: $footer-link-hover-color;
        }
      }
    }
  }
}

.cgds {
  &.footer {
    height: auto;
    color: $footer-color;

    .footer {
      &-top {
        padding: $footer-top-padding;
        background-color: $footer-top-bg-color;
        


        @include media-breakpoint-down(sm) {
          >div[class*="col"] {
            +div[class*="col"] {
              margin-top: calc(#{$spacer} * 2);
            }
          }
        }

        .widget{
          margin-bottom: 30px;
          .logo{
            // margin-left: 30px;
            margin-bottom: 20px;
          }

          .social-icon{
            // padding-left: 0;
            // margin-bottom: 0;
            // list-style-type: none;
            // @extend .footer-list-styling;
            // margin-top: calc(#{$spacer} * 2);
            ul {
              li {
                @include media-breakpoint-up(lg) {
                  display: inline-block;
                  cursor: $form-range-track-cursor;
                  a {
                    margin-left: 1px;
                    margin-right: 1px;
                    transition: 0.5s;
                    width: 35px;
                    height: 35px;
                    background-color: $white;
                    border-radius: 50%;
                    line-height: 36px;
                    text-align: center;
                    display: block;
                    color: $blue;
                  }
                  a:hover {
                    background-color: $yellow;
                    color: $white;
                  }

                }

                +li {
                  @include media-breakpoint-up(lg) {
                    // margin-left: $spacer;
                    margin-top: 0;
                  }
                }
              }
            }
          }

        }
        
        .title {
          font-weight: $font-weight-bold;
        }

        .links {
          margin-top: 1rem;
        }

        @extend .footer-list-styling;
      }

      &-header {
        .title {
          @extend #{$footer-title-header};
          margin-bottom: $spacer;
        }

        .description {
          color: $footer-description-color;
        }

        margin-bottom: calc(#{$spacer} * 1.5);
      }

      // &-items {
      //   @include media-breakpoint-down(sm) {
      //     >div[class*="col"] {
      //       +div[class*="col"] {
      //         margin-top: calc(#{$spacer} * 2);
      //       }
      //     }
      //   }

      //   .widget{
      //     margin-bottom: 30px;

      //     .logo{
      //       margin-left: 30px;
      //       margin-bottom: 20px;
      //     }

      //     .social-icon{
      //       padding-left: 0;
      //       margin-bottom: 0px;
      //       list-style-type: none;
      //       @extend .footer-list-styling;
      //       margin-top: calc(#{$spacer} * 2);
  
      //       ul {
              
      //         li {
      //           @include media-breakpoint-up(lg) {
      //             display: inline-block;
      //             margin-left: 1px;
      //             margin-right: 1px;
      //             transition: 0.5s;
      //             width: 35px;
      //             height: 35px;
      //             background-color: $white;
      //             border-radius: 50%;
                  
      //             line-height: 36px;
      //             text-align: center;
      //             a {
      //               display: block;
      //               color: $footer-color-mptc;

      //             }
      //           }
    
      //           +li {
      //             @include media-breakpoint-up(lg) {
      //               margin-left: $spacer;
      //             }
      //           }
      //         }
      //       }
      //     }

      //   }
        
      //   .title {
      //     font-weight: $font-weight-bold;
      //   }

      //   .links {
      //     margin-top: 1rem;
      //   }

      //   @extend .footer-list-styling;
      // }

      &-contact-links {
        @extend .footer-list-styling;
        margin-top: calc(#{$spacer} * 2);

        ul {
          li {
            @include media-breakpoint-up(lg) {
              display: inline-block;
            }

            +li {
              @include media-breakpoint-up(lg) {
                margin-left: $spacer;
              }
            }
          }
        }
      }

      &-bottom {
        border-top: 1px $footer-line-between-top-bottom;
        background-color: $footer-bottom-bg-color;
        // border-top: $footer-bottom-border-width solid $footer-bottom-border-color;
        padding: $footer-bottom-padding;
      }

      &-mandatory-links {
        @extend .footer-list-styling;

        ul {
          li {
            @include media-breakpoint-up(lg) {
              display: inline-block;
            }

            +li {
              @include media-breakpoint-up(lg) {
                margin-left: $spacer;
              }
            }
          }
        }
      }

      &-copyrights {
        @extend .footer-list-styling;

        ul {
          li {
            @include media-breakpoint-up(lg) {
              display: inline-block;
            }

            +li {
              @include media-breakpoint-up(lg) {
                margin-left: $spacer;
              }
            }
          }
        }
        @include media-breakpoint-down(lg) {
          margin-top: $spacer;
        }
      }
    }
  }
}