@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";

.cgds {
    &.navbar {
        padding: 0 calc(#{$spacer * 2}) 0;
        @include media-breakpoint-down(lg){
            padding: 0 $navbar-mobile-padding-y 0;
            overflow-x: scroll;
        }
        min-height: 80px;
        align-items: stretch;
        
        header {
            padding-top: $navbar-header-padding-x;
            padding-bottom: $navbar-header-padding-y;
            padding-right: $navbar-header-padding-right;
            padding-left: $navbar-header-padding-left;
            display: flex;
            .social {
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        display: inline-block;
                        margin-right: 0.6rem;
                        padding-right: 0.6rem;
                        border-right: 1px solid #f3f3f32b;
                        a {
                            color: #e9ecef;
                            i {
                                font-size: 1.35rem;
                                &:hover {
                                    color: $secondary;
                                    border-color: $secondary;
                                }
                            }

                        }
                    }
                }
            }
            .search-icon {
                i {
                    font-size: 1.35rem;
                    margin-bottom: .3rem;
                    color: #e9ecef;
                    cursor: pointer;
                    &:hover {
                        color: $secondary;
                        border-color: $secondary;
                    }
                }
            }
        }

        a.navbar-brand {
            display: flex;
            align-items: center;
            padding-bottom: $navbar-border-bottom-height;  
        }

        .navbar-collapse {
            align-items: stretch;
        }
        

        .nav-item {
            &.has-megamenu {
                position: static;
            }

            a.nav-link {
                color: $gray-100;
                border-bottom: $navbar-border-bottom-height solid transparent;
                min-height: 100%;
                display: flex;
                align-items: center;

                &.active,
                &:hover {
                    color: $secondary;
                    border-color: $secondary;
                }

                &.dropdown-toggle {
                    gap: 0.75rem;

                    &.show {
                        color: $secondary;
                        border-bottom: $navbar-border-bottom-height solid $secondary;
                    }
                }
            }
        }

        .dropdown-menu {
            margin-top: 0;
            border: 1px solid rgba($black, .1);
            border-radius: 0 0 5px 5px;
            background-color: $white;
            box-shadow: 0 .5rem 1rem rgba($black, .15);

            &.megamenu {
                left: 0;
                right: 0;
                width: 100%;
            }
        }
    }
}