{% include breadcrumb.html %}
<!-- Section Component header -->
<section name="section-component-header">
  {% assign pageHeader = page.title | downcase %}
  <header class="header-component">
    <h1 class="fw-bold" id="{{pageHeader}}-component">{% t page.title %}</h1>
    {% assign class = nil %}
    {% if page.ready == false %}
    {% assign class = 'text-danger' %}
    {% endif %}

    {% if page.description contains 'descriptions.' %}
    <p class="header-component-description {{class}}">{% t page.description %}</p>
    {% else if page.description %}
    <p class="header-component-description {{class}}">{{page.description}}</p>
    {% endif %}

    {% if page.source-grid %}
    <div class="component-source-grid">
      {% if page.category contains 'categories.' %}
      {% if page.category == "categories.mandatory" %}
      <div><span class="cgds badge badge-light bg-danger">{% t page.category %}</span></div>
      {% elsif page.category == 'categories.required' %}
      <div><span class="cgds badge badge-light bg-success">{% t page.category %}</span></div>
      {% elsif page.category == 'categories.general' %}
      <div><span class="cgds badge badge-light bg-primary">{% t page.category %}</span></div>
      {% endif %}
      {% endif %}

      {% if page.github-link %}
      <div>
        <i class="bi bi-github"></i> <a href="{{site.github-link}}" target="_blank">View it on
          Github</a>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </header>
</section>
