{% capture default-footer %}
<footer class="cgds footer">
    <section class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget flex-column">
                        <div class="logo">
                            <img src="/assets/uncompressed_images/logo_DGC_Square-new.svg" style="width: 200px"
                                alt="dgc logo">
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/Facebook.svg" alt="facebook-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/YouTube.svg" alt="youtube-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/Telegram.svg" alt="telegram-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/Tiktok.svg" alt="tiktok-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/Linkin.svg" alt="linkin-icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="title">
                        Column 1
                    </div>
                    <ul class="links">
                        <li><a href="">About Us</a></li>
                        <li><a href="">This is a super long link</a></li>
                        <li><a href="">Test</a></li>
                        <li><a href="">Test</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="title">
                        Column 2
                    </div>
                    <ul class="links">
                        <li><a href="">About Us</a></li>
                        <li><a href="">This is a super long link</a></li>
                        <li><a href="">Test</a></li>
                        <li><a href="">Test</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="title">
                        Column 3
                    </div>
                    <ul class="links">
                        <li><a href="">About Us</a></li>
                        <li><a href="">This is a super long link</a></li>
                        <li><a href="">Test</a></li>
                        <li><a href="">Test</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container-fluid">
            <div class="row footer-copyrights">
                <div class="col">
                    <div class="d-flex justify-content-lg-start text-start">
                        DGC © 2023 ~ All rights reserved. Digital Government Committee.<br>
                    </div>
                </div>
                <div class="col">
                    <dev class="d-flex justify-content-lg-end text-end">
                        <ul>
                            <li><a href="https://tech.gov.sg/report_vulnerability" target="_blank"
                                    rel="noopener noreferrer">Report Vulnerability</a></li>
                            <li><a href="">Privacy Statement</a></li>
                            <li><a href="">Terms of use</a></li>
                        </ul>
                    </dev>
                </div>
            </div>
        </div>
    </section>
</footer>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">

    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <!-- Example Section -->
    <section name="section-examples">
        <h2 class="title fw-bold" id="example">Example</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="Default Footer" compName="default-footer"
            code=default-footer %}
        </div>
    </section>

    <!-- Anatomy Section -->
    <section name="section-anatomy">
        <h2 class="title fw-bold" id="anatomy">Anatomy</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/footer/1.png" alt="Footer Anatomy">
                </div>
            </div>
            <ol>
                <li>
                    <b>Name:</b> Serves to inform the user of the name of your portal/digital service.
                </li>
                <li>
                    <b>Description (situational):</b> Serves to give users more information outside of the about page.
                    E.g a snippet of the about us page.
                </li>
                <li>
                    <b>Links (situational):</b> Serves as a secondary navigation for users to navigate to different
                    parts of your portal/digital service. Can also be used to house associated links. E.g sister
                    portals/digital services.
                </li>
                <li>
                    <b>Report vulnerability, Priviacy and Terms of use:</b> Serves to link users to the respective pages
                    to find out more.
                </li>
                <li>
                    <b>Contact, Feedback and link to REACH:</b> Serves to link users to the respective pages to find out
                    more.
                </li>
                <li>
                    <b>Copyright and last updated:</b> Serves to inform users when the portal/digital service was
                    updated.
                </li>
            </ol>
        </div>
    </section>

    <!-- Spacing Section -->
    <section name="section-spacing">
        <h2 class="title fw-bold" id="spacing">Spacing</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/footer/spacing-footer.svg" alt="Footer Spacing">
                </div>
            </div>
            <p><b>Within the footer</b><br />
                Ensure that there is at least 32px spacing around the footer, at least 16px spacing between main
                elements and 48px spacing between the top and bottom half of the footer.</p>
        </div>
    </section>
</div>
