{% capture error-summary %}
<div class="cgds alert alert-danger">
  <h3>មានបញ្ហាជាមួយនឹងការដាក់ស្នើរបស់អ្នក</h3>
  <a class="alert-link text-danger" href="#">ទម្រង់កាលបរិច្ឆេទដែលបានបញ្ចូលគឺខុស</a>
  <br />
  <a class="alert-link text-danger" href="#">អាសយដ្ឋានត្រូវតែបំពេញ</a>
  <br />
  <a class="alert-link text-danger" href="#">អ៊ីម៉ែលមិនត្រឹមត្រូវ</a>
</div>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">

  <!-- Generated header from front end matters -->
  {% include page-component/component-header.html %}

  <!-- Pattern Section -->
  <section name="section-pattern">
    <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html compName="error-summary" code=error-summary %}
    </div>
  </section>

  <!-- Usage Guidelines Section -->
  <section name="section-usage-guidelines">
    <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
    <strong>គំរូការសង្ខេបកំហុសគួរតែត្រូវបានប្រើ៖</strong>
    <ul>
      <li>នៅពេលដែលអ្នកត្រូវការបង្ហាញអ្នកប្រើប្រាស់នូវការសង្ខេបកំហុសដែលពួកគេបានធ្វើ ជាធម្មតានៅពេលដាក់ស្នើទម្រង់មួយ</li>
      <li>នៅពេលអ្នកចង់ភ្ជាប់ទៅកំហុសជាក់លាក់នៅលើទំព័រមួយ</li>
    </ul>
    <strong>គំរូការសង្ខេបកំហុសមិនគួរតែត្រូវបានប្រើ៖</strong>
    <ul>
      <li>ដោយប្រាប់តែកំហុស​តែមិនប្រាប់មូលហេតុ</li>
    </ul>

  </section>

  <!-- Usability Guidelines Section -->
  <section name="section-usability-guidelines">
    <h2 class="title fw-bold" id="usability-guidelines">គោលការណ៍ណែនាំនៃការរចនា</h2>
    <p>
      <strong>សង្ខេបកំហុសត្រូវតែនៅផ្នែកខាងលើជានិច្ច</strong><br>
      ដើម្បីប្រាកដថាអ្នកប្រើប្រាស់នឹងឃើញការសង្ខេបកំហុសនៅពេលដែលទំព័រនីមួយៗកំពុងដំណើរការ។
    </p>
    <p>
      <strong>សារច្បាស់លាស់ និងខ្លីៗ</strong><br>
      ដើម្បីប្រាកដថាអ្នកប្រើប្រាស់បានដឹងច្បាស់ថាតើមានកំហុសអ្វី ហើយអាចកែប្រែបាន។
    </p>
    <p>
      <strong>បញ្ជាប់ទៅកាន់កំហុស</strong><br>
      អ្នកប្រើប្រាស់នឹងអាចចូលទៅកាន់កំហុសបានយ៉ាងឆាប់រហ័ស និងកែប្រែវា។
    </p>
  </section>
</div>
