<footer class="cgds footer">
    <section class="footer-top">
        <div class="container-fluid">
            <div class="row" style="gap: 1.5rem">
                <div class="logo-container col-lg-3 col-md-6 col-sm-6">
                    <div class="widget flex-column">
                        <div class="logo">
                            <img src="/assets/uncompressed_images/logo_DGC_Square-new.svg" alt="dgc logo">
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="{{site.facebook-link}}">
                                        <img src="/assets/uncompressed_images/icon/Facebook.svg" alt="facebook-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{site.youtube-link}}">
                                        <img src="/assets/uncompressed_images/icon/YouTube.svg" alt="youtube-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{site.telegram-link}}">
                                        <img src="/assets/uncompressed_images/icon/Telegram.svg" alt="telegram-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{site.tiktok-link}}">
                                        <img src="/assets/uncompressed_images/icon/Tiktok.svg" alt="tiktok-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="{{site.linkedin-link}}">
                                        <img src="/assets/uncompressed_images/icon/Linkin.svg" alt="linkin-icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="title h3">
                        Quick Link
                    </div>
                    <ul class="links">
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/components/">Components</a></li>
                        <li><a href="/patterns/">Patterns</a></li>
                        <li><a href="/templates/">Templates</a></li>
                        <li><a href="/faqs/">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="title h3">
                        Contacts
                    </div>
                    <ul class="links">
                        <li>
                            <a class="d-flex flex-nowrap" href="{{site.location}}" rel="noopener noreferrer">
                                <i class="bi bi-geo-alt-fill d-flex"></i>
                                <div class="text-link lh-1">
                                    Building 13, Monivong Blvd, Sangkat <br>Srah Chak, Khan Daun Penh
                                    Phnom Penh, <br>Cambodia, 120210
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-nowrap" href="mailto:info@dgc.gov.kh" rel="noopener noreferrer">
                                <i class="bi bi-envelope-fill"></i>
                                <div class="text-link lh-1">
                                    info@dgc.gov.kh
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="title h3">
                        Other Links
                    </div>
                    <ul class="links">
                        <li><a href="{{site.mptc-link}}" target="_blank" rel="noopener noreferrer">Ministry of Post and
                                Telecommunications</a></li>
                        <li><a href="{{site.dgc-link}}" target="_blank" rel="noopener noreferrer">Digital Government
                                Committee</a></li>
                        <li><a href="{{site.github-link}}" target="_blank" rel="noopener noreferrer">CGDS GitLab
                                Repo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container-fluid">
            <div class="row footer-copyrights">
                <div class="col">
                    <div class="d-flex justify-content-lg-start text-start">
                        DGC © 2023 ~ All rights reserved. Digital Government Committee.<br>
                    </div>
                </div>
                <div class="col">
                    <dev class="justify-content-lg-end text-end">
                        <ul>
                            <li><a href="" target="_blank" rel="noopener noreferrer">Report Vulnerability</a></li>
                            <li><a href="/privacy/">Privacy Statement</a></li>
                            <li><a href="/terms-of-use/">Terms of use</a></li>
                        </ul>
                    </dev>
                </div>
            </div>
        </div>
    </section>
</footer>
