<nav class="cgds navbar flex-column navbar-expand-lg">
  <header class="container d-flex px-4 px-md-5">
    <div class="d-flex align-items-center justify-content-between px-4 px-md-5 py-4 py-sm-6 py-md-3 py-lg-4">
      {% if site.lang == 'kh' %}
      <a class="navbar-brand" href="/">
        <img src="/assets/uncompressed_images/rachana.svg" alt="Home" height="80"></a>
      {%else %}
      <a class="navbar-brand" href="/en">
        <img src="/assets/uncompressed_images/rachana.svg" alt="Home" height="80"></a>
      {% endif %}
    </div>
    <div class="d-flex align-items-center">
      <nav class="social d-flex me-3">
        <ul id="menu-social-menu" class="d-flex">
          <li class="nav-icon-social">
            <a class="nav-link" aria-current="page" href="{{site.github-link}}">
              <i class="bi bi-github h3 mb-0" target="_blank" style="line-height: 1;"></i>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="social d-flex me-3">
        <div class="d-flex flag-icon text-center h3 mb-0">
          {% if site.lang == 'kh' %}
          <a role="button" class="cgds btn" href="{{site.baseurl_root }}/en{{page.url}}"><img
              src="/assets/uncompressed_images/united-kingdom-flag-icon.svg" width="32px" height="24px" alt="Home"></a>
          {%else %}
          <a role="button" class="cgds btn" href="{{site.baseurl_root }}{{page.url}}"><img
              src="/assets/uncompressed_images/cambodia-flag-icon.svg" width="32px" height="24px" alt="Home"></a>
          {% endif %}
        </div>
      </nav>
      <nav class="social d-lg-block me-3">
        <ul id="menu-social-menu" class="d-flex">
          <li class="nav-icon-social">
            <span class="vr h-100"></span>
          </li>
        </ul>
      </nav>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          {%- assign class = nil -%}
          {%- if page.url contains 'get-started' -%}
          {%- assign class = 'active' -%}
          {%- endif -%}
          <li class="nav-item align-self-center">
            {% if site.lang == 'kh' %}
            <a class="cgds btn-gt {{class}}" aria-current="page" href="/get-started/">{% t navigation.get-started %}</a>
            {%else %}
            <a class="cgds btn-gt {{class}}" aria-current="page" href="/en/get-started/">{% t navigation.get-started
              %}</a>
            {% endif %}
          </li>
        </ul>
      </div>

      <div class="d-lg-none d-flex align-items-center">
        <button class="navbar-toggler pb-0 pt-0 ps-2" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list h1"></i>
        </button>
      </div>
    </div>
  </header>
  <div class="px-4 px-md-5">
    <div class="collapse navbar-collapse px-4 px-md-5" id="navbarNav">
      <ul class="navbar-nav">
        {% for item in site.data.navigation %}
        {%- assign class = nil -%}
        {%- if page.url contains item.title or page.url == '/' and item.title == 'home' -%}
        {%- assign class = 'active' -%}
        {%- endif -%}
        <li class="nav-item {{item.title}}">
          {% if site.lang == 'kh' %}
          <a class="nav-link {{class}}" aria-current="page"
            href="{{item.url}}">{{site.translations[site.lang].navigation.[item.title]}}</a>
          {%else %}
          <a class="nav-link {{class}}" aria-current="page"
            href="/en{{item.url}}">{{site.translations[site.lang].navigation.[item.title]}}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
