<div class="wrapper-fluid">
  <header class="header-overview">
    {% include breadcrumb.html %}
    <h1 class="title">{% t page.title %}</h1>
    {% if page.description contains 'descriptions.' %}
    <p>{% t page.description %}</p>
    {% else if page.description %}
    <p>{{page.description}}</p>
    {% endif %}

    {% assign title = page.title | replace: 'titles.', '' %}
    {% if include.isVisible != 'false' %}
    <div class="cgds form-control-group mt-4">
      <input type="text" class="form-control" id="filterItems" onkeyup="searchItem()" aria-describedby="filterItems"
        placeholder="{{site.translations[site.lang].filters.[title]}}" />
      <i class="bi bi-funnel form-control-icon"></i>
    </div>
    {% endif %}
  </header>

  {% if include.isVisible != 'false' %}
  <section class="page-component-overview">
    <article>
      <div id="grid" class="page-component-item-wrapper picture-item">
        {% assign collections = site.collections %} {% for collection in
        collections %} {% if collection.category == page.pageCategory %}
        {% assign name = collection.label %} {% for item in
        site[collection.label] %} {%- assign class = nil -%} {%- if
        page.url contains item.title -%} {%- assign class = 'active' -%}
        {%- endif -%} {% assign react = nil %} {% if item.react %} {%
        assign react = 'react' %} {% endif %}
        <div class="cgds card" data-groups="['{{item.category}}', '{{react}}']" data-title="{{item.title}}">
          {% if include.img != 'noImg' %}
          <img
            src="/assets/img/{{page.pageCategory}}-overview/{{item.title | downcase | replace: ' ', '-' | remove: 'headers.'}}.png"
            class="card-img-top" alt="{{item.title | append: ' image' | remove: 'headers.'}}" />
          {% endif %}

          <div class="card-body">
            {% if site.lang == 'en' %}
            <a class="stretched-link link-primary"
              href="/en/{{page.pageCategory}}/{{item.title | replace: ' ', '-' | downcase | remove: 'headers.'}}">
              <div class="h5 text-primary card-title">
                {% t item.title %}
              </div>
            </a>
            {%else %}
            <a class="stretched-link link-primary"
              href="/{{page.pageCategory}}/{{item.title | replace: ' ', '-' | downcase | remove: 'headers.'}}">
              <div class="h5 text-primary card-title">
                {% t item.title %}
              </div>
            </a>
            {% endif %}

            {% if item.description contains 'descriptions.' %}
            <p class="card-text">{% t item.description %}</p>
            {% else if item.description %}
            <p class="card-text">{{item.description}}</p>
            {% endif %}

            {% if item.category contains 'categories.' %}
            {% if item.category == "categories.mandatory" %}
            <div><span class="cgds badge badge-light bg-danger">{% t item.category %}</span></div>
            {% elsif item.category == 'categories.required' %}
            <div><span class="cgds badge badge-light bg-success">{% t item.category %}</span></div>
            {% elsif item.category == 'categories.general' %}
            <div><span class="cgds badge badge-light bg-primary">{% t item.category %}</span></div>
            {% endif %}
            {% else %}
            {% endif %}

          </div>
        </div>
        {% endfor %} {% endif %} {% endfor %}
      </div>
    </article>
  </section>
  {% endif %}
</div>

<script>
  function searchItem() {
    const input = document
      .getElementById("filterItems")
      .value.toUpperCase();
    console.log(input);
    const cardContainer = document.getElementById("grid");
    const cards = cardContainer.getElementsByClassName("card");
    for (const element of cards) {
      let title = element.querySelector(".card-body a div.card-title");
      let description = element.querySelector(".card-text");
      let textTitle = title.textContent || title.innerText;
      let textDescription =
        description.textContent || description.innerText;
      if (
        textTitle.toUpperCase().indexOf(input) > -1 ||
        textDescription.toUpperCase().indexOf(input) > -1
      ) {
        element.style.display = "";
      } else {
        element.style.display = "none";
      }
    }
  }

</script>
