<div class="page-component">
  {% include page-component/component-header.html %}
  <section class="page-component-overview">
    <article>
      <div id="grid" class="page-component-item-wrapper picture-item">
        {% for item in site.data.rachana-blocks %}
        <div class="cgds card">
          <img src="/assets/img/rachana-block/{{item.tag}}.png" class="card-img-top" alt="{{item.title}}" />
          <div class="card-body">
            <h4 id="{{item.tag}}" class="text-primary card-title">
              {{item.title}}
            </h4>
            <p class="card-text">
              {{item.description}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pt-4">
        <p>តាមរយៈការប្រើប្រាស់ Rachana Blocks អ្នកអាចបង្កើតគេហទំព័រដ៏អស្ចារ្យ មុខងារផ្សេងៗ និងអាចចូលប្រើបាន ដែលស្របតាមគំនិតផ្តួចផ្តើមរបស់រដ្ឋាភិបាលឌីជីថលរបស់កម្ពុជា។ មិនថាអ្នកកំពុងបង្កើត Blocks ផ្ទាល់ខ្លួន គេហទំព័រអាជីវកម្ម ឬវេទិកាសេវាកម្មរដ្ឋាភិបាលទេ Blocks ដែលបានរចនាយ៉ាងល្អទាំងនេះនឹងជួយអ្នកឱ្យសម្រេចបាននូវគោលដៅរបស់អ្នកប្រកបដោយប្រសិទ្ធភាព។</p>
      </div>
    </article>
  </section>
</div>
