{% capture alert-design-tokens %}
$alert-padding-y: $spacer !default;
$alert-padding-x: $spacer !default;
$alert-margin-bottom: 1rem !default;
$alert-border-radius: $border-radius !default;
$alert-link-font-weight: $font-weight-bold !default;
$alert-border-width: $border-width !default;
$alert-bg-scale: -80% !default;
$alert-border-scale: -70% !default;
$alert-color-scale: 40% !default;
$alert-dismissible-padding-r: $alert-padding-x * 3 !default; // 3x covers width of x plus default padding on either side
{% endcapture %}

{% capture default-alert %}
<div role="alert" class="cgds alert alert-primary fade d-flex align-items-center alert-dismissible-link show">
    <div>
        <i class="primary bi bi-exclamation-circle me-2"></i>នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បង - សូម​ពិនិត្យ​មើល!
    </div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
{% endcapture %}

{% capture icon-alert %}
<div role="alert" class="fade d-flex align-items-center alert alert-primary alert-dismissible-link show cgds">
    <div><i class="primary bi bi-exclamation-circle me-2"></i>នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បង - សូម​ពិនិត្យ​មើល!</div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-light alert-dismissible-link show cgds">
    <div><i class="bi bi-exclamation-circle me-2"></i>នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បង - សូម​ពិនិត្យ​មើល!</div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-success alert-dismissible-link show cgds">
    <div><i class="bi bi-exclamation-circle me-2"></i>នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បង - សូម​ពិនិត្យ​មើល!</div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-danger alert-dismissible-link show cgds">
    <div><i class="bi bi-exclamation-circle me-2"></i>នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បង - សូម​ពិនិត្យ​មើល!</div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-warning alert-dismissible-link show cgds">
    <div><i class="bi bi-exclamation-circle me-2"></i>នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បង - សូម​ពិនិត្យ​មើល!</div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-info alert-dismissible-link show cgds">
    <div><i class="bi bi-exclamation-circle me-2"></i>នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បង - សូម​ពិនិត្យ​មើល!</div>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-dark alert-dismissible-link show cgds">
    <div><i class="bi bi-exclamation-circle me-2"></i>នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បង - សូម​ពិនិត្យ​មើល!</div>
</div>
{% endcapture %}

{% capture link-alert %}
<div role="alert" class="fade d-flex align-items-center alert alert-primary alert-dismissible-link show cgds">
    <div>
        <i class="primary bi bi-exclamation-circle me-2"></i>
        នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បងដែលមាន<a class="alert-link" href="#" role="button"
            tabindex="0">ឧទាហរណ៍មួយនៃតំណភ្ជាប់</a>។ អ្នកអាចចុចលើវាដើម្បីសាកល្បងបាន។
    </div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-light alert-dismissible-link show cgds">
    <div>
        <i class="bi bi-exclamation-circle me-2"></i>
        នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បងដែលមាន<a class="alert-link" href="#" role="button"
            tabindex="0">ឧទាហរណ៍មួយនៃតំណភ្ជាប់</a>។ អ្នកអាចចុចលើវាដើម្បីសាកល្បងបាន។
    </div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-success alert-dismissible-link show cgds">
    <div>
        <i class="bi bi-exclamation-circle me-2"></i>
        នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បងដែលមាន<a class="alert-link" href="#" role="button"
            tabindex="0">ឧទាហរណ៍មួយនៃតំណភ្ជាប់</a>។ អ្នកអាចចុចលើវាដើម្បីសាកល្បងបាន។
    </div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-danger alert-dismissible-link show cgds">
    <div>
        <i class="bi bi-exclamation-circle me-2"></i>
        នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បងដែលមាន<a class="alert-link" href="#" role="button"
            tabindex="0">ឧទាហរណ៍មួយនៃតំណភ្ជាប់</a>។ អ្នកអាចចុចលើវាដើម្បីសាកល្បងបាន។
    </div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
<div role="alert" class="fade d-flex align-items-center alert alert-warning alert-dismissible-link show cgds">
    <div>
        <i class="bi bi-exclamation-circle me-2"></i>
        នេះ​គឺ​ជា​ការ​ជូន​ដំណឹង​ចម្បងដែលមាន<a class="alert-link" href="#" role="button"
            tabindex="0">ឧទាហរណ៍មួយនៃតំណភ្ជាប់</a>។ អ្នកអាចចុចលើវាដើម្បីសាកល្បងបាន។
    </div>
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
</div>
{% endcapture %}

{% capture additional-alert %}
<div role="alert" class="fade d-flex align-items-center alert alert-success alert-dismissible show cgds">
  <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
    <i class="bi bi-exclamation-circle me-4"></i>
    <div>
        <div class="alert-heading h4">សួស្តី! រីករាយណាស់ដែលបានជួបគ្នា។</div>
        <p>ជយោ! អ្នកបានអានការជូនដំណឹងដ៏សំខាន់នេះហើយ។ នេះជាឧទាហរណ៍មួយដែលមានខ្លឹមសារវែង។
            យើងបង្កើតឧទាហរណ៍នេះឡើងមកដើម្បីឲ្យអ្នកបានឃើញពីការបង្កើតគម្លាតសម្រាប់ឲ្យមាតិកាវែងៗបែបនេះ។</p>
        <hr>
        <p class="mb-0">អ្នកអាចប្រើប្រាស់ margin នៅក្នុងកូដដើម្បីរចនាវាឲ្យមើលទៅស្អាត និងមានរបៀបរៀបរយ។</p>
    </div>
</div>
{% endcapture %}

{% capture dismissable-alert %}
<div role="alert" class="fade d-flex align-items-center alert alert-primary alert-dismissible show cgds">
    <button type="button" class="btn-close btn-sm" aria-label="Close alert"></button>
    <i class="primary bi bi-exclamation-circle me-4"></i>
    <div>
        <div class="alert-heading h4">មានបញ្ហាមួយកើតឡើងហើយ!</div>
        <p class="mb-0">ដើម្បីដោះស្រាយបញ្ហានេះអ្នកអាច...។ Duis mollis, est non commodo luctus, nisi erat porttitor
            ligula,
            eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
</div>
{% endcapture %}

<div class="page-component">
    {% include page-component/component-header.html %}
    <section name="section-examples">
        <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="ការជូនដំណឹងលំនាំដើម"
            compName="default-alert"
            code=default-alert
            %}
        </div>
        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="ការជូនដំណឹងមានតំណភ្ជាប់"
            compName="link-alert"
            code=link-alert
            %}
        </div>
        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="ការជូនដំណឹងមានខ្លឹមសារវែង"
            compName="additional-alert"
            code=additional-alert
            %}
        </div>
        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="ផ្ទាំងការជូនដំណឹងដែលអាចបិទបាន"
            compName="dismissable-alert"
            code=dismissable-alert
            %}
        </div>
        <!-- Add addtional section-sub for more variants -->
    </section>

    <!-- Anatomy Section -->
    <section name="section-anatomy">
        <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំរបស់ការជូនដំណឹង</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/alert/anatomy-alert-1.svg" alt="Alert Anatomy">
                </div>
            </div>
            <ol>
                <li>
                    <b>រូបសញ្ញា (ដាក់ក៏បានមិនដាក់ក៏បាន):</b> សម្រាប់ប្រាប់អ្នកប្រើប្រាស់ពីគោលបំណងនៃការជូនដំណឹង។
                </li>
                <li>
                    <b>ខ្លឹមសារ:</b> សម្រាប់ប្រាប់ព័ត៍មានទៅកាន់អ្នកប្រើប្រាស់។.
                </li>
                <li>
                    <b>ប៊ូតុងបិទ (ដាក់ក៏បានមិនដាក់ក៏បាន):</b> សម្រាប់បិទផ្ទាំងនៃការជូនដំណឹង។
                </li>
                <li>
                    <b>ប្រអប់ស៊ុម:</b> សម្រាប់ផ្ទុកធាតុទាំងអស់របស់ការជូនដំណឹងនីមួយៗ។
                    ប្រវែងនិងកម្ពស់របស់វាមានទំហំខុសគ្នាដោយអាស្រ័យទៅតាមទំហំនៃមាតិកានៅក្នុងការជូនដំណឹងនីមួយៗ។
                </li>
            </ol>
        </div>
    </section>

    <!-- Spacing Section -->
    <section name="section-spacing">
        <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img class="img-fluid" src="{{site.baseurl}}/assets/img/component/alert/spacing-alert-1.svg"
                        alt="Alert Spacing">
                </div>
            </div>
            <p><b>នៅក្នុងផ្ទាំងការជូនដំណឹង</b><br>
                ត្រូវរក្សាគម្លាតយ៉ាងតិច 24px គែមសងខាងរបស់ផ្ទាំង និងយ៉ាងហោចណាស់ 16px ត្រង់គែមលើក្រោម។
                ត្រូវរក្សាគម្លាតយ៉ាងតិច 16px នៅជុំវិញអក្សរ និងរូបសញ្ញា។ កម្ពស់មូលដ្ឋានរបស់ផ្ទាំងគឺ 64px។</p>
        </div>
    </section>

    <!-- Usage guidelines Section -->
    <section name="section-usage-guidelines">
        <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
        <p class="fw-bold mb-0">ការជូនដំណឹងគួរតែត្រូវបានប្រើប្រាស់នៅពេល:</p>
        <ol>
            <li>ពេលអ្នកចង់ផ្តល់ដំណឹងពីស្ថានភាពរបស់ប្រព័ន្ធរបស់អ្នកទៅកាន់អ្នកប្រើប្រាស់។
                ការជូនដំណឹងបែបនេះមិនចាំបាច់ត្រូវការឲ្យអ្នកប្រើប្រាស់ធ្វើសកម្មភាព ឬក៏ឆ្លើយតបនោះទេ។
                ការជូនដំណឹងអំពីស្ថានភាពប្រព័ន្ធ មានដូចជាការជូនដំណឹងពី បញ្ហា កំហុស ការព្រមាន
                ឬការធ្វើបច្ចុប្បន្នភាពទូទៅរបស់ប្រព័ន្អទៅកាន់អ្នកប្រើប្រាស់។
            </li>
        </ol>
        <p class="fw-bold mb-0">ការជូនដំណឹងមិនគួរតែត្រូវបានប្រើប្រាស់នៅពេល:</p>
        <ol>
            <li>
                កំហុសក្នុងការផ្ទៀងផ្ទាត់។ ការជូនដំណឹងមិនគួរតែត្រូវបានប្រើប្រាស់ដើម្បីបង្ហាញកំហុសនៃការផ្ទៀងផ្ទាត់ទេ។
            </li>
            <li>
                នៅក្នុងទំព័រមួយមិនគួរមានការជូនដំណឹងច្រើនពេកទេ ពោលគឺប្រើសម្រាប់តែដំណឹងសំខាន់ៗបានហើយ។
            </li>
        </ol>
    </section>

    <!-- Usability guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="usability-guidelines">គោលការណ៍ណែនាំនៃការរចនា</h2>
        <p>
            <b>កុំប្រើការជូនដំណឹងច្រើនពេកនៅក្នុងទំព័រតែមួយ</b><br>
            ការធ្វើបែបនេះអាចរំខានដល់អារម្មណ៍អ្នកប្រើប្រាស់ធ្វើឲ្យពួកគាត់លែងខ្វល់ និងលែងអានដំណឹងទាំងអស់យកតែម្តង។
        </p>
        <p>
            <b>ការជូនដំណឹងដែលអាចបិទបាន</b><br>
            ការជូនដំណឹងដែលអាចបិទបានគួរតែត្រូវបានរចនាឡើងតាមរបៀបដែលធ្វើឱ្យវាងាយស្រួលសម្រាប់អ្នកប្រើប្រាស់ក្នុងការបិទវាទៅវិញ។
            សញ្ញាខ្វែង "X" សម្រាប់បិទការជូនដំណឹងគួរតែត្រូវបានរចនាយ៉ាងណាឲ្យអ្នកប្រើប្រាស់អាចមើលឃើញនឹងភ្នែក និងមិនពិបាករក។
        </p>
        <p>
            <b>ត្រូវមានខ្លឹមសារត្រឹមត្រូវ</b><br>
            អ្នកគួរប្រើតែការជូនដំណឹងដែលពាក់ព័ន្ធ និងមានប្រយោជន៍សម្រាប់គោលដៅរបស់អ្នកប្រើប្រាស់ប៉ុណ្ណោះ។
            អ្នកមិនគួរប្រើការជូនដំណឹងដែលរំខាន ឬមិនចាំបាច់។ ជាឧទាហរណ៍
            អ្នកមិនគួរប្រើការជូនដំណឹងដើម្បីផ្សាយពាណិជ្ជកម្មនោះទេ។
        </p>
    </section>
    <section>
        <h2 class="title fw-bold" id="design-tokens">ខ្នាតសម្រាប់រចនារបស់{% t headers.alert %}</h2>
        {%- highlight sass -%}{{alert-design-tokens}}{%- endhighlight -%}
    </section>
</div>
