{% capture base-card %}
<div class="card cgds">
    <img class="card-img-top" alt="img alternate text goes here"
         src="{{site.baseurl}}/assets/img/component/card/image-in-card.svg">
    <div class="card-body">
        <p class="card-text"><small class="text-muted">ធ្វើបច្ចុប្បន្នភាពចុងក្រោយនៅ៣នាទីមុន</small></p>
        <h3 class="card-title">ចំណងជើងកាត</h3>
        <p class="card-text"> ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។
        </p>
        <a class="card-link" href="#">
            <i class="bi bi-arrow-right-circle-fill"></i>
            ចុចសម្រាប់ទៅទំព័រផ្សេងៗ
        </a>
    </div>
</div>
{% endcapture %}

{% capture card-with-cta %}
<div class="cgds-example-card-grid">
    <div class="card cgds"><img class="card-img-top" alt="img alternate text goes here"
                                src="{{site.baseurl}}/assets/img/component/card/image-in-card.svg">
        <div class="card-body">
            <p class="card-text"><small class="text-muted">ធ្វើបច្ចុប្បន្នភាពចុងក្រោយនៅ៣នាទីមុន</small></p>
            <h3 class="card-title" href="#">ចំណងជើងកាត</h3>
            <p class="card-text">ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។</p>
            <a class="card-link blog-btn" href="#">
                <i class="bi bi-arrow-right-circle-fill"></i>
                ចុចសម្រាប់ទៅទំព័រផ្សេងៗ
            </a>
        </div>
    </div>
    <div class="card cgds">
        <img class="card-img-top" alt="img alternate text goes here"
             src="{{site.baseurl}}/assets/img/component/card/image-in-card.svg">
        <div class="card-body"><a class="card-link" href="#">
            <h3 class="card-title">ចំណងជើងកាត</h3>
        </a>
            <p class="card-text">ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។</p>
        </div>
    </div>
</div>
{% endcapture %}

{% capture informational-card %}
<div class="card cgds">
    <img class="card-img-top" alt="img alternate text goes here"
         src="{{site.baseurl}}/assets/img/component/card/image-in-card.svg">
    <div class="card-body">
        <h3 class="card-title">ចំណងជើងកាត</h3>
        <p class="card-text">ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។
        </p>
    </div>
</div>
{% endcapture %}

{% capture customise-card %}
<div class="cgds-example-card-grid">
    <div class="card cgds">
        <div class="card-body">
            <h5 class="card-title">ចំណងជើងកាត</h5><a class="card-text">ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។</a>
        </div>
    </div>
    <div class="card cgds">
        <div class="card-body">
            <h1 class="card-title">ចំណងជើងកាត</h1><strong class="card-text">ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។</strong>
        </div>
    </div>
</div>
{% endcapture %}

{% capture stretched-link-card %}
<div class="card cgds"><img class="card-img-top" alt="img alternate text goes here"
                            src="{{site.baseurl}}/assets/img/component/card/image-in-card.svg">
    <div class="card-body"><a class="card-link stretched-link" href="#">
        <h3 class="card-title">ចំណងជើងកាត</h3>
    </a>
        <p class="card-text">ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។</p>
    </div>
</div>
{% endcapture %}

{% capture card-group %}
<div class="cgds-example-card-grid">
    <div class="card-group">
        <div class="card cgds">
            <img class="card-img-top" alt="img alternate text goes here"
                 src="{{site.baseurl}}/assets/img/component/card/image-in-card.svg">
            <div class="card-body">
                <p class="card-text"><small class="text-muted">ធ្វើបច្ចុប្បន្នភាពចុងក្រោយនៅ៣នាទីមុន</small></p>
                <h3 class="card-title">ចំណងជើងកាត</h3>
                <p class="card-text">ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។
                </p>
                <a class="card-link blog-btn" href="#">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                    ចុចសម្រាប់ទៅទំព័រផ្សេងៗ
                </a>
            </div>
        </div>
        <div class="card cgds">
            <img class="card-img-top" alt="img alternate text goes here"
                 src="{{site.baseurl}}/assets/img/component/card/image-in-card.svg">
            <div class="card-body">
                <p class="card-text"><small class="text-muted">ធ្វើបច្ចុប្បន្នភាពចុងក្រោយនៅ៣នាទីមុន</small></p>
                <h3 class="card-title">ចំណងជើងកាត</h3>
                <p class="card-text">ដាក់ពាក្យគន្លឹះខ្លីៗនៅលើចំណងជើងកាតដើម្បីតំណាងឱ្យអត្ថន័យរួមនៅក្នុងកាត។
                </p>
                <a class="card-link blog-btn" href="#">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                    ចុចសម្រាប់ទៅទំព័រផ្សេងៗ                </a>
            </div>
        </div>
    </div>
</div>
{% endcapture %}

{% capture card-action %}
<div class="cgds-example-card-grid">
    <div tabindex="0" variant="card-action" class="card cgds">
        <div class="card-body">
            <h6 class="text-muted card-subtitle">
                <div><i class="bi bi-box"></i>កុំព្យូទ័រយួរដៃ</div>
                <div class="card-input">
                    <div class=""><input aria-label="selectablecard" type="checkbox" class="form-check-input"><label
                        title="" class="form-check-label"></label></div>
                </div>
            </h6>
            <h5 class="card-title">Apple <i class="bi bi-apple"></i></h5>
            <p class="card-text">Macbook Pro M1</p>
        </div>
    </div>

    <div tabindex="0" variant="card-action" class="card cgds">
        <div class="card-body">
            <h6 class="text-muted card-subtitle">
                <div><i class="bi bi-box"></i>កុំព្យូទ័រយួរដៃ</div>
                <div class="card-input">
                    <div class=""><input aria-label="selectablecard" type="radio" class="form-check-input"><label
                        title="" class="form-check-label"></label></div>
                </div>
            </h6>
            <h5 class="card-title">Apple <i class="bi bi-apple"></i></h5>
            <p class="card-text">Macbook Pro M1</p>
        </div>
    </div>

    <div tabindex="0" variant="card-action" class="card cgds">
        <div class="card-body">
            <h6 class="text-muted card-subtitle">
                <div><i class="bi bi-box"></i>កុំព្យូទ័រយួរដៃ</div>
                <div class="card-input">
                    <div class="form-switch"><input aria-label="selectablecard" type="checkbox"
                                                    class="form-check-input"><label title="" class="form-check-label"></label></div>
                </div>
            </h6>
            <h5 class="card-title">Apple <i class="bi bi-apple"></i></h5>
            <p class="card-text">Macbook Pro M1</p>
        </div>
    </div>
</div>
{% endcapture %}

{% capture card-quantity %}
<div variant="card-action-quantity-toggle" class="card cgds">
    <div class="card-body">
        <div>
            <h4 class="card-title">កន្ត្រក <i class="bi bi-cart"></i></h4>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div>
            <div class="card-unit">
                <h5 class="text-muted card-subtitle">ម៉ាកទំនិញ</h5>
                <h6 class="mt-2 card-subtitle">Apple</h6>
            </div>
            <label class="visually-hidden form-label">quantity-toggle</label>
            <div variant="quantity-toggle" class="input-group input-group-sm cgds">
                <button aria-label="minus-btn" type="button" class="btn btn-primary cgds"><i
                    class="bi bi-dash"></i></button>
                <input aria-label="Quantity" name="quantity" min="0" type="number" class="text-center form-control"
                       value="0">
                <button aria-label="plus-btn" type="button" class="btn btn-primary cgds"><i
                    class="bi bi-plus"></i></button>
            </div>
        </div>
    </div>
</div>
{% endcapture %}

{% capture card-design-tokens %}
$card-spacer-y: 1.5rem !default;
$card-spacer-x: 1.5rem !default;
$card-title-spacer-y: $spacer * .5 !default;
$card-border-width: $border-width !default;
$card-border-color: $gray-400 !default;
$card-border-radius: $border-radius !default;
$card-box-shadow: null !default;
$card-inner-border-radius: subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y: $card-spacer-y * .5 !default;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-bg: rgba($black, .03) !default;
$card-cap-color: null !default;
$card-height: null !default;
$card-color: null !default;
$card-bg: $white !default;
$card-img-overlay-padding: $spacer !default;
$card-group-margin: $grid-gutter-width * .5 !default;
//Action card specific
$card-transition-duration: 0.3s !default;
$card-transition-timing-function: ease-in-out !default;
$card-active-border: inset 0px 0px 0px 2.1px $link-color !default;
{% endcapture %}


<!-- Page starts here -->
<div class="page-component">

    {% include page-component/component-header.html %}

    <!-- Code Example Section -->
    <section name="section-examples">
        <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="កាតតំណាង"
            compName="base-card"
            code=base-card
            %}
        </div>
        <!-- <div class="section-sub">
            {%
                    include page-component/component-code-snippet.html
                    compTitle="Card with image"
                    compName="card-with-image"
                    code=card-with-image
                %}
        </div> -->
        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="កាតមានមុខងារ"
            compName="card-with-cta"
            code=card-with-cta
            %}
        </div>
        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="កាតផ្ដល់ព័ត៌មាន"
            compName="informational-card"
            code=informational-card
            %}
        </div>
        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="រចនាកាតដោយប្រើតែសមាសធាតុ HTML"
            compName="customise-card"
            code=customise-card
            %}
        </div>

        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="កាតមានតំណលាត"
            compName="stretched-link-card"
            code=stretched-link-card
            %}
        </div>

        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="បណ្តុំកាត"
            compName="card-group"
            code=card-group
            %}
        </div>

        <div class="section-sub">
            {%
            include page-component/component-code-snippet.html
            compTitle="កាតមានមុខងារ"
            compName="card-action"
            code=card-action %}
        </div>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html
            compTitle="កាតមានបន្ថែមបន្ថយចំនួន"
            compName="card-quantity"
            code=card-quantity %}
        </div>
    </section>

    <!-- Anatomy Section -->
    <section name="section-anatomy">
        <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំ</h2>
        <div class="section-sub">
            <h3 class="subtitle fw-bold" id="default-card">កាតលំនាំដើម</h3>
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase | remove: 'headers.'}}/anatomy-card-1.svg"
                         alt="">
                </div>
            </div>
            <ol>
                <li>
                    <b>រូបភាព (ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b> ដើម្បីបង្ហាញប្រាប់អំពីគោលបំណងរបស់កាត។
                </li>
                <li>
                    <b>ដំណឹងបច្ចុប្បន្នភាព៖</b> ដើម្បីប្រាប់អ្នកប្រើប្រាស់អំពីពេលវេលានៃការធ្វើបច្ចុប្បន្នភាពចុងក្រោយរបស់ខ្លឹមសារនៅក្នុងកាត។
                </li>
                <li>
                    <b>ចំណងជើង៖</b> ប្រាប់ឱ្យចំៗថាកាតនេះមានគោលបំណងអ្វី។ ចំណងជើងសរសេរកាន់តែខ្លីហើយចំចំណុចកាន់តែល្អ។
                </li>
                <li>
                    <b>ការបរិយាយ៖</b> រៀបរាប់ប្រាប់អ្នកប្រើប្រាស់ពីគោលបំណងកាត។
                </li>
                <li>
                    <b>CTA (ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b> ពេលyចង់ឱ្យអ្នកប្រើប្រាស់អ្វីមួយ ឧទាហរណ៍៖ ចុចលើប៊ូតុងដើម្បីឆ្លងទៅកាន់ទំព័រមួយទៀត។ CTA មិនចាំបាច់ដាក់ក៏បានក្នុងករណីដែលកាតធ្វើឡើងដើម្បីតែផ្តល់ព័ត៌មាននិងគ្មានមុខងារអ្វីផ្សេងទេ។
                </li>

            </ol>
        </div>
    </section>
    <section name="section-anatomy">
        <h3 class="subtitle fw-bold" id="action-card">កាតមានមុខងារ</h3>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase | remove: 'headers.'}}/anatomy-card-2.svg"
                         alt="">
                </div>
            </div>
            <ol>
                <li>
                    <b>សញ្ញាសំគាល់៖</b> ដើម្បីបង្ហាញប្រាប់អំពីគោលបំណងរបស់កាត។
                <li>
                    <b>ប្រអប់ជ្រើសរើស៖</b> សម្រាប់ឱ្យអ្នកប្រើអាចជ្រើសរើសយកកាតមួយឬច្រើន។
                </li>
            </ol>
        </div>
    </section>

    <section name="section-anatomy">
        <h3 class="subtitle fw-bold" id="action-qty-card">កាតមានបន្ថែមបន្ថយចំនួន</h3>

        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase | remove: 'headers.'}}/anatomy-card-3.svg"
                         alt="">
                </div>
            </div>
            <p>ប្រើសម្រាប់ការបញ្ជាទិញទំនិញ ឬពេលយើងចង់តម្រូវឱ្យអ្នកប្រើប្រាស់អាចជ្រើសរើសចំនួនដែលពួកគាត់ត្រូវការសម្រាប់ទំនិញមួយ។</p>
            <ol>
                <li>
                    <b>ប៊ូតុងកម្រិតចំនួន៖</b> អនុញ្ញាតឱ្យអ្នកប្រើកំណត់ចំនួនដែលពួកគាត់ត្រូវការឬចង់បាន។
                <li>
                    <b>តម្លៃ៖</b> បង្ហាញប្រាប់ពីតម្លៃមួយឯកតារបស់ទំនិញ និងតម្លៃសរុបដែលគណនាទៅតាមចំនួនដែលអ្នកប្រើប្រាស់បានជ្រើសរើស។
                </li>
            </ol>
        </div>

    </section>

    <!-- Spacing Section -->
    <section name="section-spacing">
        <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
        <div class="section-sub">
            <h3 class="subtitle fw-bold" id="default-card-spacing">កាតលំនាំដើម</h3>
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase | remove: 'headers.'}}/spacing-within-1.svg"
                         alt="">
                </div>
            </div>
        </div>
        <p><b>លក្ខណៈដើមរបស់កាត</b><br />
            រក្សាគម្លាតយ៉ាងតិច24pxនៅជុំវិញគែមកាត និងយ៉ាងតិច10pxនៅចន្លោះមាតិកា។</p>
    </section>

    <section name="section-spacing">
        <h3 class="subtitle fw-bold" id="action-card-spacing">កាតមានមុខងារ</h3>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase | remove: 'headers.'}}/spacing-within-2.svg"
                         alt="">
                </div>
            </div>
        </div>
        <p><b>លក្ខណៈរបស់កាតមានមុខងារ</b><br />
            រក្សាគម្លាតយ៉ាងតិច24pxនៅជុំវិញគែមកាត និងយ៉ាងតិច16pxនៅចន្លោះមាតិកា។ </p>
    </section>

    <section name="section-spacing">
        <h3 class="subtitle fw-bold" id="action-qty-card-spacing">កាតមានបន្ថែមបន្ថយចំនួន</h3>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase | remove: 'headers.'}}/spacing-within-3.svg"
                         alt="">
                </div>
            </div>
        </div>
        <p><b>លក្ខណៈរបស់កាតមានបន្ថែមបន្ថយចំនួន</b><br />
            រក្សាគម្លាតយ៉ាងតិច24pxនៅជុំវិញគែមកាត និងយ៉ាងតិច16pxនៅចន្លោះមាតិកា។ </p>
    </section>

    <!-- Usage guidelines Section -->
    <section name="section-usage-guidelines">
        <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
        <p class="fw-bold mb-0">កាតគួរតែត្រូវបានប្រើនៅពេល៖</p>
        <ol>
            <li>ពេលត្រូវបង្ហាញមាតិកាស្រដៀងគ្នាដែលត្រូវដាក់ទៅក្នុងផ្នែកណាមួយជាមួយគ្នា។</li>
            <li>នៅពេលដែលអ្នកត្រូវការបំបែកផ្នែកណាមួយនៃមាតិកាមកដាក់ដាច់ដោយឡែកពីផ្នែកផ្សេងៗនៃទំព័រ។</li>
        </ol>
        <p class="fw-bold mb-0">កាតមិនគួរតែត្រូវបានប្រើនៅពេល៖</p>
        <ol>
            <li>ពេលផ្តល់ដំណឹងដល់អ្នកប្រើប្រាស់អំពីព័ត៌មាន  ការផ្លាស់ប្តូរ និងការធ្វើបច្ចុប្បន្នភាពផ្សេងៗ។</li>
            <li>ការប្រើប្រាស់កាតច្រើនពេកធ្វើឱ្យទំព័រមើលទៅហាក់ដូចជាដាច់ពីគ្នា និងមិនស៊ីចង្វាក់គ្នា។ </li>


            </li>
        </ol>
    </section>

    <!-- Usability guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="usability-guidelines">គោលការណ៍ណែនាំនៃការរចនា</h2>
        <p>
            <b>ចំណងជើងត្រូវសរសេរឱ្យខ្លីនិងច្បាស់ៗ</b><br>
            សរសេរឱ្យខ្លីកុំឱ្យលើសពីមួយបន្ទាត់ ប៉ុន្តែឱ្យច្បាស់ និងព្យាយាមកុំប្រើវណ្ណយុត្តិ។</p>
        <p>
            <b>រចនាវាឱ្យមានលក្ខណៈជាឯកសណ្ឋានប្រសិនបើកាតទាំងនោះនៅក្នុងក្រុមតែមួយ</b><br>
            សម្រាប់កាតនៅក្នុងក្រុមតែមួយត្រូវរចនាយ៉ាងណាឱ្យកាតទាំងអស់ស៊ីចង្វាក់គ្នាមានលំនាំតែមួយ។</p>
        <p>
            <b>ខ្លឹមសារក្នុងកាតគួរតែសង្ខេបឱ្យខ្លី និងងាយយល់។</b><br>
            កុំព្យាយាមសរសេរមាតិកាវែងពេក។ធ្វើយ៉ាងណាឱ្យវាខ្លីហើយចំចំណុច ដើម្បីអ្នកប្រើប្រាស់ចាប់អារម្មណ៍ចង់អាន។</p>
    </section>

    <!-- Design token Section -->
    <section name="section-design-tokens">
        <h2 class="title fw-bold" id="design-tokens">ខ្នាតសម្រាប់រចនា</h2>
        {%- highlight sass -%}{{card-design-tokens}}{%- endhighlight -%}
    </section>

</div>
