{% capture default-footer %}
<footer class="cgds footer">
    <section class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget flex-column">
                        <div class="logo">
                            <img src="/assets/uncompressed_images/logo_DGC_Square-new.svg" style="width: 200px"
                                alt="dgc logo">
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/Facebook.svg" alt="facebook-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/YouTube.svg" alt="youtube-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/Telegram.svg" alt="telegram-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/Tiktok.svg" alt="tiktok-icon">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/uncompressed_images/icon/Linkin.svg" alt="linkin-icon">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="title">
                        ជួរទី១
                    </div>
                    <ul class="links">
                        <li><a href="">អំពីយើង</a></li>
                        <li><a href="">អក្សរនេះសម្រាប់មើលតេស្ត</a></li>
                        <li><a href="">តេស្ត</a></li>
                        <li><a href="">តេស្ត</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="title">
                        ជួរទី២
                    </div>
                    <ul class="links">
                        <li><a href="">អំពីយើង</a></li>
                        <li><a href="">អក្សរនេះសម្រាប់មើលតេស្ត</a></li>
                        <li><a href="">តេស្ត</a></li>
                        <li><a href="">តេស្ត</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="title">
                        ជួរទី៣
                    </div>
                    <ul class="links">
                        <li><a href="">អំពីយើង</a></li>
                        <li><a href="">អក្សរនេះសម្រាប់មើលតេស្ត</a></li>
                        <li><a href="">តេស្ត</a></li>
                        <li><a href="">តេស្ត</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container-fluid">
            <div class="row footer-copyrights">
                <div class="col">
                    <div class="d-flex justify-content-lg-start text-start">
                        DGC © 2023 ~ រក្សាសិទ្ធិដោយគណៈកម្មាធិការរដ្ឋាភិបាលឌីជីថល
                    </div>
                </div>
                <div class="col">
                    <dev class="d-flex justify-content-lg-end text-end">
                        <ul>
                            <li><a href="" target="_blank"
                                    rel="noopener noreferrer">រាយការណ៍ពីភាពខ្វះខាត</a></li>
                            <li><a href="">ឯកជនភាព</a></li>
                            <li><a href="">លក្ខខណ្ឌនៃប្រើប្រាស់</a></li>
                        </ul>
                    </dev>
                </div>
            </div>
        </div>
    </section>
</footer>
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">

    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}
    <!-- Example Section -->
    <section name="section-examples">
        <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="បាតកថាតាមលំនាំដើម" compName="default-footer"
            code=default-footer %}
        </div>
    </section>

    <!-- Anatomy Section -->
    <section name="section-anatomy">
        <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំរបស់បាតកថា</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/footer/anatomy-footer.svg" alt="Footer Anatomy">
                </div>
            </div>
            <ol>
                <li>
                    <b>ឈ្មោះ ឬនិមិត្តសញ្ញា៖</b> ឈ្មោះសម្រាប់ប្រាប់អ្នកប្រើប្រាស់ឱ្យដឹងពីឈ្មោះរបស់សេវាកម្មឌីជីថលរបស់អ្នក ចំណែកឯនិមិត្តសញ្ញាសម្រាប់បង្ហាញឱ្យអ្នកប្រើប្រាស់អាចងាយមើលស្គាល់សេវាកម្មរបស់អ្នកបានភ្លាមៗ។ អាចប្រើទាំងពីរក៏បានឬតែមួយក៏បានតាមស្ថានភាពជាក់ស្តែង។
                </li>
                <li>
                    <b>បណ្តាញសង្គម៖</b>
                    ដាក់រូបសញ្ញាដែលភ្ជាប់មកជាមួយនឹងតំណទៅកាន់បណ្តាញសង្គមរបស់អ្នក។
                </li>
                <li>
                    <b>តំណភ្ជាប់៖</b> ភ្ជាប់ទៅកាន់ទំព័រផ្សេងៗនៅក្នុងគេហទំព័ររបស់អ្នក
                    ឬភ្ជាប់ទៅកាន់គេហទំព័រផ្សេងទៀតរបស់អ្នក។
                </li>
                <li>
                    <b>រាយការណ៍ពីភាពខ្វះខាត, ឯកជនភាព និងលក្ខខណ្ឌនៃប្រើប្រាស់៖</b> ភ្ជាប់អ្នកប្រើប្រាស់ទៅទំព័រទាំងនេះ
                    ដើម្បីស្វែងយល់បន្ថែម។
                </li>
                <li>
                    <b>ការរក្សាសិទ្ធិ និងការធ្វើបច្ចុប្បន្នភាពចុងក្រោយបង្អស់៖</b>
                    ប្រាប់អ្នកប្រើប្រាស់ពីពេលវេលាដែលគេហទំព័ររបស់អ្នកត្រូវបានធ្វើច្ចុប្បន្នភាពចុងក្រោយបង្អស់
                    និងការរក្សាសិទ្ធិគេហទំព័ររបស់អ្នក់។
                </li>
            </ol>
        </div>
    </section>

    <!-- Spacing Section -->
    <section name="section-spacing">
        <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/footer/spacing-footer.svg" alt="Footer Spacing">
                </div>
            </div>
            <p><b>នៅក្នុងបាតកថា</b><br/>
                ធ្វើយ៉ាងណារក្សាគម្លាតយ៉ាងតិច 48px នៅចន្លោះគែមខាងលើ និង 24px នៅចន្លោះគែមខាងក្រោមនៃបាតកថា
                ហើយ48pxនៅប្រឡោះកណ្តាលរបស់បាតកថាទាំងមូល។
        </div>
    </section>
</div>
