{% capture default-main-navigation %}
<div style="height: 300px" class="overflow-auto">
  <nav aria-label="navbar" class="cgds navbar flex-column navbar-expand-lg">
    <header class="container d-flex flex-nowrap p-0">
      <div class="w-100 d-flex align-items-center justify-content-between px-4 px-md-5 py-4 py-sm-6 py-md-3 py-lg-4">
        <a class="navbar-brand d-flex justify-content-start" href="#">
          <img src="/assets/uncompressed_images/rachana.svg" alt="Home" height="80">
        </a>
      </div>
      <div class="d-flex align-items-center me-5">
        <nav aria-label="social-media" class="social d-flex me-3">
          <ul id="menu-social-menu" class="d-flex">
            <li class="nav-icon-social">
              <a class="nav-link" aria-current="page" href="">
                <i class="bi bi-github" target="_blank" style="line-height: 1;"></i>
              </a>
            </li>
          </ul>
        </nav>
        <div class="d-flex flag-icon text-center me-2">
          <a role="button" class="cgds btn" href=""><img src="/assets/uncompressed_images/cambodia-flag-icon.svg"
              width="32px" height="24px" alt="Home">
          </a>
        </div>
        <nav aria-label="social-media" class="social d-lg-block me-1">
          <ul id="menu-social-menu" class="d-flex">
            <li class="nav-icon-social">
              <span class="cgds-line"></span>
            </li>
          </ul>
        </nav>
        <ul class="navbar-nav">
          <li class="nav-item align-self-center">
            <a class="cgds btn-gt" aria-current="page" href="">ចូលគណនី</a>
          </li>
        </ul>
        <div class="mobile-toggle d-flex align-items-center d-lg-none">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavExample1"
            aria-controls="navbarNavExample1" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
          </button>
        </div>
      </div>
    </header>
    <div class="px-4 px-md-5">
      <div class="collapse navbar-collapse px-4 px-md-5" id="navbarNavExample1">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ទំព័រដើម</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="">បញ្ជាប់</a>
          </li>
          <li class="nav-item cgds dropdown">
            <a class="nav-link cgds dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              ទម្លាក់ចុះ <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="">សកម្មភាព</a></li>
              <li><a class="dropdown-item" href="">សកម្មភាពមួយទៀត</a></li>
              <li><a class="dropdown-item" href="">អ្វីមួយ</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="">បញ្ជាប់ដាច់ដោយឡែក</a></li>
            </ul>
          </li>
          <li class="nav-item cgds dropdown has-megamenu">
            <a class="nav-link cgds dropdown-toggle" href="#" id="megamenu" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              បណ្តុំបញ្ជី<i class="bi bi-chevron-down"></i>
            </a>
            <div class="dropdown-menu megamenu p-3" aria-labelledby="megamenu">
              <div class="d-flex justify-content-start">
                <div>
                  <b>សហការបង្កើតដំណោះស្រាយឌីជីថលប្រកបដោយភាពច្នៃប្រឌិតជាមួយរដ្ឋាភិបាល</b>
                  <p>ស្វែងរកព្រឹត្តិការណ៍ ប្លុក បច្ចេកវិទ្យាប្រភពបើកចំហ និងឱកាសសហការផ្សេងទៀត។</p>
                </div>
                <div>
                  <a class="dropdown-item" href="">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="">លក្ខណៈពិសេស</a>
                </div>
                <div>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                </div>
                <div>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="search-bar d-flex align-items-center ms-auto">
          <form class="w-100" action="">
            <div class="search-wrapper d-flex ps-2">
              <input type="text">
              <button>
                <i class="bi bi-search" target="_blank"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="p-3">
    <p>ខាងក្រោមនេះគ្រាន់តែជាអក្សរឧទាហរណ៍សម្រាប់ដាក់បំពេញចន្លោះទទេរឱ្យទំព័រនេះមើលទៅឃើញស្អាតតែប៉ុំណ្ណោះ៖</p>

    <p>ក្នុងយុគសម័យប្រកួតប្រជែងយ៉ាងស្វិតស្វាញដើម្បីពង្រឹងអំណាចបន្ថែម ក៏ដូចជាក្នុងការពង្រីកឥទ្ធិពលប្រទេសមហាអំណាចផ្សេងៗ
      ជាពិសេសពីសំណាក់ប្រទេសបារាំង និងប្រទេសអង់គ្លេស ដែលខំប្រឹងវាតទីឥទ្ធិពលខ្លួនទៅតាមបណ្ដារដ្ឋទន់ខ្សោយជាងខ្លួន
      ក្នុងន័យទាញយកនូវប្រយោជន៍។ ចាប់តាំងពីមានវត្តមាននៃការឈានជើងចូលរបស់បណ្ដាប្រទេសអ៊ឺរ៉ុបមកក្នុងដែនដីអាស៊ីអាគ្នេយ៍ដីគោក
      ដែលរួមមានដូចជាប្រទេសកម្ពុជា ថៃ វៀតណាម និងភូមា សង្កេតឃើញថា
      ក្នុងប្រទេសទាំងនេះមានបដិវត្តន៍ថ្មីៗកើតមានឡើងជាបន្តបន្ទាប់ ដែលជះឥទ្ធិពលយ៉ាងសម្បើមទៅលើវិស័យផ្សេងៗ
      ជាពិសេសនោះគឺវិស័យនយោបាយដែលមានទំនោរទៅរកការផ្លាស់ប្ដូរប្លែកថ្មីមួយចំពោះជនជាតិអម្បូរស្បែកស្រអែម​នៅដែនដីសុវណ្ណភូមិមួយនេះ។
      ក្នុងនោះទៀតសោតក៏ឃើញផងដែរថា បម្រែបម្រួលនេះហាក់ហុចផលជាអាវុធមុខពីរទៅលើកិច្ចការការបរទេសដោយសម្លឹងទៅរកផលប្រយោជន៌
      និងកិច្ចការពារជាតិរៀងៗខ្លួន។</p>

    <p>សរុបសេចក្ដីមក នៅចន្លោះចុងសតវត្សរ៍ទី១៨ និងពាក់កណ្តាលសតវត្សរ៍ទី១៩
      ឃើញថាមានការលេចឡើងនូវវត្តមានរបស់ប្រទេសអឺរ៉ុបមួយចំនួនមកលើអាស៊ីអាគ្នេយ៍ដីគោក ដូចជាវត្តមានរបស់អង់គ្លេស
      និងបារាំងក្នុងប្រទេសភូមា បារាំងមកក្នុងប្រទេសវៀតណាម អង់គ្លេសមកលើប្រទេសថៃ បារាំងមកលើប្រទេសកម្ពុជា
      និងបណ្តាប្រទេសអឺរ៉ុបមួយចំនួនទៀតមកក្នុងប្រទេសទាំងនេះ។
      ដោយការធ្វើទំនាក់ទំនងទាំងអស់នេះសុទ្ធសឹងតែជាការកេងយកប្រយោជន៍រៀងៗខ្លួន
      ឃើញថាគោលបំណងរបស់ប្រទេសមហាអំណាចទាំងនេះធំបំផុតនោះគឺការធ្វើពាណិជ្ជកម្មនៅក្នុងតំបន់អាស៊ីអាគ្នេយ៍ដីគោក
      ដែលអាចធ្វើអោយគេទទួលបាននូវប្រយោជន៍ជាច្រើនសម្រាប់វិស័យសេដ្ឋកិច្ចរបស់ពួកគេ ក៏ដូចជាការផ្សព្វផ្សាយនូវសាសនា
      និងអរិយធម៌ផ្សេងៗរបស់ពួកគេ។ ដោយឡែកសម្រាប់គ្រប់ប្រទេសក្នុងតំបន់អាស៊ីអាគ្នេយ៍វិញ ក៏ទទួលបាននូវផលប្រយោជន៍ជាច្រើនដែរ
      ជាពិសេសនោះគឺការការពារពីពួកមហាអំណាច និងទទួលឥទ្ធិពលល្អៗមួយចំនួនសម្រាប់វិស័យផ្សេងៗដូចជាខាងនយោបាយ ពាណិជ្ជកម្ម
      និងសេដ្ឋកិច្ចជាដើម។</p>

    <p>
      យោងតាមការបកស្រាយខាងលើឃើញថាការរីកសាយអំណាចរបស់ពួកអឺរ៉ុបទាំងនេះមកលើបណ្តាប្រទេសក្នុងតំបន់អាស៊ីអាគ្នេយ៍សុទ្ធសឹងតែជះនូវឥទ្ធិពលវិជ្ជមាន
      និងអវិជ្ជមាន មិនថាចំពោះភាគីខាងណាក៏ដោយ ប៉ុន្តែផលទទួលបានរមែងអោយជាប្រយោជន៍ច្រើនជាងជាពុំខាន។
      ព្រឹត្តការណ៍ទាំងនេះបានផ្តល់នូវគម្រូមួយក្នុងការគ្រប់គ្រងប្រទេស ដែលបានឆ្លុះបញ្ចាំងជាក់ពីការកេងយកប្រយោជន៍
      និងការខាតបង់ផ្សេងៗសម្រាប់ជាតិសាសន៍នីមួយៗ ក្រោយពីមាការពឹងផ្អែកគ្នាក្នុងស្ថានភាពសង្គមណាមួយ។ ដូចនេះ ក្នុងនាមជាយុវជន
      គប្បីជៀសពីការពឹងផ្អែកខ្លួនទៅលើនរណាម្នាក់ ឬស្ថាប័នណាក៏មួយ ប៉ុន្តែពេលខ្លះបើវាជាការចាំបាច់ ក៏ធ្វើវាចុះ។
      មិនខុសពីការគ្រប់គ្រងប្រទេសដែរ
      ក៏ប៉ុន្តែយើងក៏សង្ឃឹមផងដែរថានឹងពុំមានការពឹងផ្អែកទាំងស្រុងលើជាតិសាសន៍ដទៃណាមួយឡើយនាពេលអនាគតដូចអតីតកាល
      ជាពិសេសចំពោះប្រទេសកម្ពុជាយើងផ្ទាល់។</p>
  </div>
</div>
{% endcapture %}

{% capture main-navigation-user %}
<div style="height: 300px" class="overflow-auto">
  <nav aria-label="navbar" class="cgds navbar flex-column navbar-expand-lg">
    <header class="container d-flex flex-nowrap p-0">
      <div class="w-100 d-flex align-items-center justify-content-between px-4 px-md-5 py-4 py-sm-6 py-md-3 py-lg-4">
        <a class="navbar-brand d-flex justify-content-start" href="#">
          <img src="/assets/uncompressed_images/rachana.svg" alt="Home" height="80">
        </a>
      </div>
      <div class="d-flex align-items-center me-5">
        <nav aria-label="social-media" class="social d-flex me-3">
          <ul id="menu-social-menu" class="d-flex">
            <li class="nav-icon-social">
              <a class="nav-link" aria-current="page" href="">
                <i class="bi bi-bell-fill" target="_blank" style="line-height: 1;"></i>
              </a>
            </li>
          </ul>
        </nav>
        <div class="d-flex flag-icon text-center me-2">
          <a role="button" class="cgds btn" href="">
            <img src="/assets/uncompressed_images/cambodia-flag-icon.svg" width="32px" height="24px" alt="Home">
          </a>
        </div>
        <nav aria-label="social-media" class="social d-lg-block me-1">
          <ul id="menu-social-menu" class="d-flex">
            <li class="nav-icon-social">
              <span class="cgds-line"></span>
            </li>
          </ul>
        </nav>
        <nav aria-label="social-media" class="social d-flex me-3">
          <ul id="menu-social-menu" class="d-flex">
            <li class="nav-icon-social">
              <a class="nav-link" aria-current="page" href="">
                <i class="bi bi-person-circle" target="_blank" style="line-height: 1;"></i>
              </a>
            </li>
          </ul>
        </nav>
        <div class="mobile-toggle d-flex align-items-center d-lg-none">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavExample2"
            aria-controls="navbarNavExample2" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
          </button>
        </div>
      </div>
    </header>
    <div class="px-4 px-md-5">
      <div class="collapse navbar-collapse px-4 px-md-5" id="navbarNavExample2">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ទំព័រដើម</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="">បញ្ជាប់</a>
          </li>
          <li class="nav-item cgds dropdown">
            <a class="nav-link cgds dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              ទម្លាក់ចុះ <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="">សកម្មភាព</a></li>
              <li><a class="dropdown-item" href="">សកម្មភាពមួយទៀត</a></li>
              <li><a class="dropdown-item" href="">អ្វីមួយ</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="">បញ្ជាប់ដាច់ដោយឡែក</a></li>
            </ul>
          </li>
          <li class="nav-item cgds dropdown has-megamenu">
            <a class="nav-link cgds dropdown-toggle" href="#" id="megamenu" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              បណ្តុំបញ្ជី<i class="bi bi-chevron-down"></i>
            </a>
            <div class="dropdown-menu megamenu p-3" aria-labelledby="megamenu">
              <div class="d-flex justify-content-start">
                <div>
                  <b>សហការបង្កើតដំណោះស្រាយឌីជីថលប្រកបដោយភាពច្នៃប្រឌិតជាមួយរដ្ឋាភិបាល</b>
                  <p>ស្វែងរកព្រឹត្តិការណ៍ ប្លុក បច្ចេកវិទ្យាប្រភពបើកចំហ និងឱកាសសហការផ្សេងទៀត។</p>
                </div>
                <div>
                  <a class="dropdown-item" href="">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="">លក្ខណៈពិសេស</a>
                </div>
                <div>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                </div>
                <div>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                  <a class="dropdown-item" href="#">លក្ខណៈពិសេស</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="search-bar d-flex align-items-center ms-auto">
          <form class="w-100" action="">
            <div class="search-wrapper d-flex ps-2">
              <input type="text">
              <button>
                <i class="bi bi-search" target="_blank"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <div class="p-3">
    <p>ខាងក្រោមនេះគ្រាន់តែជាអក្សរឧទាហរណ៍សម្រាប់ដាក់បំពេញចន្លោះទទេរឱ្យទំព័រនេះមើលទៅឃើញស្អាតតែប៉ុំណ្ណោះ៖</p>

    <p>ក្នុងយុគសម័យប្រកួតប្រជែងយ៉ាងស្វិតស្វាញដើម្បីពង្រឹងអំណាចបន្ថែម ក៏ដូចជាក្នុងការពង្រីកឥទ្ធិពលប្រទេសមហាអំណាចផ្សេងៗ
      ជាពិសេសពីសំណាក់ប្រទេសបារាំង និងប្រទេសអង់គ្លេស ដែលខំប្រឹងវាតទីឥទ្ធិពលខ្លួនទៅតាមបណ្ដារដ្ឋទន់ខ្សោយជាងខ្លួន
      ក្នុងន័យទាញយកនូវប្រយោជន៍។ ចាប់តាំងពីមានវត្តមាននៃការឈានជើងចូលរបស់បណ្ដាប្រទេសអ៊ឺរ៉ុបមកក្នុងដែនដីអាស៊ីអាគ្នេយ៍ដីគោក
      ដែលរួមមានដូចជាប្រទេសកម្ពុជា ថៃ វៀតណាម និងភូមា សង្កេតឃើញថា
      ក្នុងប្រទេសទាំងនេះមានបដិវត្តន៍ថ្មីៗកើតមានឡើងជាបន្តបន្ទាប់ ដែលជះឥទ្ធិពលយ៉ាងសម្បើមទៅលើវិស័យផ្សេងៗ
      ជាពិសេសនោះគឺវិស័យនយោបាយដែលមានទំនោរទៅរកការផ្លាស់ប្ដូរប្លែកថ្មីមួយចំពោះជនជាតិអម្បូរស្បែកស្រអែម​នៅដែនដីសុវណ្ណភូមិមួយនេះ។
      ក្នុងនោះទៀតសោតក៏ឃើញផងដែរថា បម្រែបម្រួលនេះហាក់ហុចផលជាអាវុធមុខពីរទៅលើកិច្ចការការបរទេសដោយសម្លឹងទៅរកផលប្រយោជន៌
      និងកិច្ចការពារជាតិរៀងៗខ្លួន។</p>

    <p>សរុបសេចក្ដីមក នៅចន្លោះចុងសតវត្សរ៍ទី១៨ និងពាក់កណ្តាលសតវត្សរ៍ទី១៩
      ឃើញថាមានការលេចឡើងនូវវត្តមានរបស់ប្រទេសអឺរ៉ុបមួយចំនួនមកលើអាស៊ីអាគ្នេយ៍ដីគោក ដូចជាវត្តមានរបស់អង់គ្លេស
      និងបារាំងក្នុងប្រទេសភូមា បារាំងមកក្នុងប្រទេសវៀតណាម អង់គ្លេសមកលើប្រទេសថៃ បារាំងមកលើប្រទេសកម្ពុជា
      និងបណ្តាប្រទេសអឺរ៉ុបមួយចំនួនទៀតមកក្នុងប្រទេសទាំងនេះ។
      ដោយការធ្វើទំនាក់ទំនងទាំងអស់នេះសុទ្ធសឹងតែជាការកេងយកប្រយោជន៍រៀងៗខ្លួន
      ឃើញថាគោលបំណងរបស់ប្រទេសមហាអំណាចទាំងនេះធំបំផុតនោះគឺការធ្វើពាណិជ្ជកម្មនៅក្នុងតំបន់អាស៊ីអាគ្នេយ៍ដីគោក
      ដែលអាចធ្វើអោយគេទទួលបាននូវប្រយោជន៍ជាច្រើនសម្រាប់វិស័យសេដ្ឋកិច្ចរបស់ពួកគេ ក៏ដូចជាការផ្សព្វផ្សាយនូវសាសនា
      និងអរិយធម៌ផ្សេងៗរបស់ពួកគេ។ ដោយឡែកសម្រាប់គ្រប់ប្រទេសក្នុងតំបន់អាស៊ីអាគ្នេយ៍វិញ ក៏ទទួលបាននូវផលប្រយោជន៍ជាច្រើនដែរ
      ជាពិសេសនោះគឺការការពារពីពួកមហាអំណាច និងទទួលឥទ្ធិពលល្អៗមួយចំនួនសម្រាប់វិស័យផ្សេងៗដូចជាខាងនយោបាយ ពាណិជ្ជកម្ម
      និងសេដ្ឋកិច្ចជាដើម។</p>

    <p>
      យោងតាមការបកស្រាយខាងលើឃើញថាការរីកសាយអំណាចរបស់ពួកអឺរ៉ុបទាំងនេះមកលើបណ្តាប្រទេសក្នុងតំបន់អាស៊ីអាគ្នេយ៍សុទ្ធសឹងតែជះនូវឥទ្ធិពលវិជ្ជមាន
      និងអវិជ្ជមាន មិនថាចំពោះភាគីខាងណាក៏ដោយ ប៉ុន្តែផលទទួលបានរមែងអោយជាប្រយោជន៍ច្រើនជាងជាពុំខាន។
      ព្រឹត្តការណ៍ទាំងនេះបានផ្តល់នូវគម្រូមួយក្នុងការគ្រប់គ្រងប្រទេស ដែលបានឆ្លុះបញ្ចាំងជាក់ពីការកេងយកប្រយោជន៍
      និងការខាតបង់ផ្សេងៗសម្រាប់ជាតិសាសន៍នីមួយៗ ក្រោយពីមាការពឹងផ្អែកគ្នាក្នុងស្ថានភាពសង្គមណាមួយ។ ដូចនេះ ក្នុងនាមជាយុវជន
      គប្បីជៀសពីការពឹងផ្អែកខ្លួនទៅលើនរណាម្នាក់ ឬស្ថាប័នណាក៏មួយ ប៉ុន្តែពេលខ្លះបើវាជាការចាំបាច់ ក៏ធ្វើវាចុះ។
      មិនខុសពីការគ្រប់គ្រងប្រទេសដែរ
      ក៏ប៉ុន្តែយើងក៏សង្ឃឹមផងដែរថានឹងពុំមានការពឹងផ្អែកទាំងស្រុងលើជាតិសាសន៍ដទៃណាមួយឡើយនាពេលអនាគតដូចអតីតកាល
      ជាពិសេសចំពោះប្រទេសកម្ពុជាយើងផ្ទាល់។</p>
  </div>
</div>
{% endcapture %}

{% capture main-navigation-design-tokens %}
$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-font-size: null !default;
$nav-link-font-weight: null !default;
$nav-link-color: $link-color !default;
$nav-link-hover-color: $link-hover-color !default;
$nav-link-transition: color .15s ease-in-out,
background-color .15s ease-in-out,
border-color .15s ease-in-out !default;
$nav-link-disabled-color: $gray-600 !default;
$navbar-padding-y: $spacer * 2 !default;
$navbar-mobile-padding-y: $spacer !default;
$navbar-padding-x: null !default;
$navbar-nav-link-padding-x: .5rem !default;
$navbar-border-bottom-height: .125rem !default;
$navbar-brand-font-size: $font-size-lg !default;
$nav-link-height: $font-size-base * $line-height-base+$nav-link-padding-y * 2 !default;
$navbar-brand-height: $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y: ($nav-link-height - $navbar-brand-height) * .5 !default;
$navbar-brand-margin-end: 1rem !default;
$navbar-toggler-padding-y: .25rem !default;
$navbar-toggler-padding-x: .75rem !default;
$navbar-toggler-font-size: $font-size-lg !default;
$navbar-toggler-border-radius: $btn-border-radius !default;
$navbar-toggler-focus-width: $btn-focus-width !default;
$navbar-toggler-transition: box-shadow .15s ease-in-out !default;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">

  <!-- Generated header from front end matters -->
  {% include page-component/component-header.html %}

  <!-- Example Section -->
  <section name="section-examples">
    <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html compTitle="បុរេជម្រើស"
      compName="default-main-navigation" code=default-main-navigation %}
    </div>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html
      compTitle="របារខាងលើមានគណនី"
      compName="main-navigation-user"
      code=main-navigation-user
      %}
    </div>
  </section>

  <!-- Anatomy Section -->
  <section name="section-anatomy">
    <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំ</h2>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img src="{{site.baseurl}}/assets/img/component/main-navigation/anatomy-main-navigation-1.svg"
            alt="Main Navigation Anatomy">
        </div>
      </div>
      <ol>
        <li>
          <b>ស្លាក៖</b>​​ ប្រាប់អ្នកប្រើប្រាស់ពីគោលបំណងរបស់ទំព័រ។
        </li>
        <li>
          <b>ពណ៌ចង្អុលបង្ហាញ៖</b> រំលេចពណ៌នៅពេលដែលដំណើរការ វាអនុញ្ញាតឱ្យអ្នកប្រើប្រាស់ដឹងថាពួកគាត់កំពុងបើកទំព័រឬធាតុណា។
        </li>
        <li>
          <b>រូបតំណាង(តាមស្ថានការណ៍)៖</b> ប្រើនៅពេលមានធាតុរង។
        </li>
      </ol>
    </div>
  </section>

  <!-- Spacing Section -->
  <section name="section-spacing">
    <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img src="{{site.baseurl}}/assets/img/component/main-navigation/spacing-main-navigation-1.svg"
            alt="Main Navigation Spacing">
        </div>
      </div>
      <p><b>ខាងក្នុងរបារខាងលើ</b><br>
        រក្សាគម្លាតអប្បបរមា 12px រវាងស្លាក និងរូបតំណាង។
      </p>
      <p><b>ខាងក្នុងរបារខាងលើ</b><br>
        រក្សាគម្លាតអប្បបរមា 24px លើអ័ក្សដេករវាងធាតុ របារខាងលើនីមួយៗ។</p>
    </div>
  </section>

  <!-- Usage guidelines Section -->
  <section name="section-usage-guidelines">
    <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
    <p class="fw-bold mb-0">របារខាងលើគួរតែត្រូវបានប្រើ៖</p>
    <ul>
      <li>នៅលើគេហទំព័ររបស់រដ្ឋាភិបាលទាំងអស់ ត្រូវមាន៖</li>
      <ol type="a">
        <li>និមិត្តសញ្ញាតំណាងឬឈ្មោះគេហទំព័រ។</li>
        <li>របារចម្បងនៃគេហទំព័ររបស់អ្នក។</li>
      </ol>
    </ul>
  </section>

  <!-- Usability guidelines Section -->
  <section name="section-usability-guidelines">
    <h2 class="title fw-bold" id="usability-guidelines">គោលការណ៍ណែនាំនៃការរចនា</h2>
    <p>
      <b>បង្ហាញពីទំព័របច្ចុប្បន្ន</b><br>
      បង្ហាញអ្នកប្រើប្រាស់ថាពួកគេនៅទីណាដោយរំលេចពណ៌របស់វានៅក្នុងរបារខាងលើ
      ដូច្នេះពួកគេដឹងថាផ្នែកណាមួយដែលពួកគេកំពុងស្ថិតនៅ។ ប្រសិនបើទំព័រដែលពួកគេស្ថិតនៅត្រូវបានលាក់នៅក្នុងបញ្ជីទម្លាក់ចុះ
      អ្នកនៅតែអាចរំលេចទំព័ររបារខាងលើ។
    </p>
    <p>
      <b>ប្រើប្រាស់ស្លាកងាយស្រួលយល់</b><br>
      ស្លាកត្រូវតែច្បាស់លាស់ និងគួរជៀសវាងការប្រើប្រាស់ពាក្យពេចន៍ដែលធ្វើឱ្យអ្នកប្រើប្រាស់ពិបាកយល់។
    </p>
  </section>

  <!-- Design token Section -->
  <section name="section-design-tokens">
    <h2 class="title fw-bold" id="design-tokens">ខ្នាតសម្រាប់រចនា</h2>
    {%- highlight sass -%}{{main-navigation-design-tokens}}{%- endhighlight -%}
  </section>
</div>
