{% capture modal-design-tokens %}
$modal-inner-padding: $spacer !default;
$modal-footer-margin-between: 0.5rem !default;
$modal-dialog-margin: 0.5rem !default;
$modal-dialog-margin-y-sm-up: 1.75rem !default;
$modal-title-line-height: $line-height-base !default;
$modal-content-color: null !default;
$modal-content-bg: $white !default;
$modal-content-border-color: rgba($black, 0.2) !default;
$modal-content-border-width: $border-width !default;
$modal-content-border-radius: $border-radius-lg !default;
$modal-content-inner-border-radius:
subtract(
    $modal-content-border-radius,
    $modal-content-border-width
) !default;
$modal-content-box-shadow-xs: $box-shadow-sm !default;
$modal-content-box-shadow-sm-up: $box-shadow !default;
$modal-backdrop-bg: $black !default;
$modal-backdrop-opacity: 0.5 !default;
$modal-header-border-color: $border-color !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding-y: $modal-inner-padding !default;
$modal-header-padding-x: $modal-inner-padding !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility
$modal-sm: 300px !default;
$modal-md: 500px !default;
$modal-lg: 800px !default;
$modal-xl: 1140px !default;
$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform 0.3s ease-out !default;
$modal-scale-transform: scale(1.02) !default;
{% endcapture %}

{% capture modal-default %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">
                <i class="bi bi-exclamation-circle left me-3"></i>ចំណងជើងផ្លាកជូនដំណឹង
            </h3>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body">​ អ្នកកំពុងអានអត្ថបទនេះក្នុងផ្លាកជូនដំណឹងមួយ!</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark cgds">បិទ</button>
            <button type="button" class="btn btn-primary cgds">រក្សាទុកការផ្លាស់ប្តូរ</button>
        </div>
    </div>
</div>
{% endcapture %}

{% capture modal-default-demo %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary cgds" data-bs-toggle="modal" data-bs-target="#exampleModal">
    បើកដំណើរការផ្លាកជូនដំណឹងលំនាំដើម
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="bi bi-exclamation-circle left me-2"></i>ចំណងជើងផ្លាកជូនដំណឹង
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">នេះគឺជាផ្លាកជូនដំណឹងមួយ</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark cgds" data-bs-dismiss="modal">
                    បិទ
                </button>
                <button type="button" class="btn btn-primary cgds">រក្សាទុកការផ្លាស់ប្តូរ</button>
            </div>
        </div>
    </div>
</div>
{% endcapture %}

{% capture size-demo %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary cgds" data-bs-toggle="modal" data-bs-target="#exampleModalSmall">
    បើកដំណើរការផ្លាកជូនដំណឹងទំហំតូច
</button>
<button type="button" class="btn btn-primary cgds" data-bs-toggle="modal" data-bs-target="#exampleModalMedium">
    បើកដំណើរការផ្លាកជូនដំណឹងទំហំធំ
</button>
<button type="button" class="btn btn-primary cgds" data-bs-toggle="modal" data-bs-target="#exampleModalLarge">
    បើកដំណើរការផ្លាកជូនដំណឹងទំហំធំបន្ថែម
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalSmall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="bi bi-exclamation-circle left me-2"></i>ចំណងជើងផ្លាកជូនដំណឹង
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">នេះគឺជាផ្លាកជូនដំណឹងមួយ</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark cgds" data-bs-dismiss="modal">
                    បិទ
                </button>
                <button type="button" class="btn btn-primary cgds">រក្សាទុកការផ្លាស់ប្តូរ</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalMedium" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="bi bi-exclamation-circle left me-2"></i>ចំណងជើងផ្លាកជូនដំណឹង
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
            </div>
            <div class="modal-body">នេះគឺជាផ្លាកជូនដំណឹងមួយ</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark cgds" data-bs-dismiss="modal">
                    បិទ
                </button>
                <button type="button" class="btn btn-primary cgds">រក្សាទុកការផ្លាស់ប្តូរ</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLarge" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="bi bi-exclamation-circle left me-2"></i>ចំណងជើងផ្លាកជូនដំណឹង
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">នេះគឺជាផ្លាកជូនដំណឹងមួយ</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark cgds" data-bs-dismiss="modal">
                    បិទ
                </button>
                <button type="button" class="btn btn-primary cgds">រក្សាទុកការផ្លាស់ប្តូរ</button>
            </div>
        </div>
    </div>
</div>
{% endcapture %}

{% capture scrollable-demo %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
    បើកដំណើរការផ្លាកជូនដំណឹងដែលអាចអូសបាន
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalScrollableTitle">
                    <i class="bi bi-exclamation-circle left me-2"></i>ចំណងជើងផ្លាកជូនដំណឹង
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    TLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id
                    egestas libero. Proin sed erat sed lectus efficitur rutrum condimentum
                    ac orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    ut vehicula diam. Cras placerat placerat aliquam. Cras semper risus
                    sed libero feugiat, at luctus ipsum pellentesque. Vivamus posuere leo
                    dolor, vel ornare justo convallis quis. Quisque volutpat aliquet
                    maximus. Nulla nibh nibh, malesuada non cursus eu, mollis a tellus.
                    Etiam ante purus, tincidunt sed quam porta, semper tincidunt diam. In
                    hac habitasse platea dictumst. Proin auctor feugiat mollis. Quisque
                    sit amet sem elementum, pulvinar quam sit amet, tristique metus.
                    Suspendisse potenti. Aliquam blandit et diam vitae pulvinar. Sed
                    vestibulum eget sapien sit amet vestibulum. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Vivamus semper porta enim, sed
                    viverra eros auctor ac. Nulla consequat maximus lorem, condimentum
                    consequat mi. Maecenas malesuada volutpat consequat. Praesent tempor
                    in risus ut commodo. Proin ut velit blandit, tincidunt velit id,
                    finibus urna. Vestibulum a ligula tortor. Etiam id felis odio. Nunc
                    interdum placerat ante ut fermentum. Morbi vitae nisi a tellus
                    hendrerit imperdiet vel in elit. Nam eget enim ultricies urna
                    tristique vehicula. Pellentesque tempor nunc eu diam elementum, eget
                    egestas odio viverra. Integer in sapien urna. Cras rhoncus, neque eget
                    auctor ultricies, tortor tortor pharetra purus, vitae ullamcorper
                    tellus sem a justo. Ut egestas, felis quis vestibulum elementum, velit
                    purus varius massa, ac dignissim nibh libero at massa. Donec non
                    maximus est, a facilisis nulla. Phasellus a tortor dignissim, auctor
                    lorem eget, tristique urna. Aenean efficitur nunc sed sodales
                    scelerisque. Praesent maximus pharetra nisi, dignissim elementum
                    ligula volutpat ut. Vivamus sagittis tincidunt augue, vitae sagittis
                    ligula dictum eu. Vestibulum aliquam augue arcu, eget bibendum urna
                    posuere sed. Fusce vulputate velit sit amet enim tempor aliquam sed eu
                    ante. Nam sit amet dui ipsum. Etiam ac arcu lectus. Praesent pretium
                    neque erat, at placerat augue cursus id. Integer cursus erat sit amet
                    lectus tristique vehicula. Ut id justo quis leo malesuada porta non
                    vel ante. Maecenas eget nisl tellus. Vivamus porttitor in nisl
                    vulputate blandit. Suspendisse id imperdiet neque. Integer et
                    convallis eros. Mauris tellus ligula, placerat efficitur porttitor ut,
                    sagittis at enim. Sed pulvinar ipsum purus. Nullam eleifend
                    scelerisque mauris, vitae consequat enim eleifend non. Aliquam
                    suscipit egestas tellus nec aliquet. Morbi a bibendum lorem. Vivamus
                    magna sapien, viverra quis maximus sed, finibus vitae est. Donec
                    mollis pretium arcu, at sodales nisi pretium vel. Quisque a imperdiet
                    enim. Suspendisse feugiat sagittis quam, vitae feugiat lorem aliquam
                    sit amet. Duis convallis consequat elit sed bibendum. Sed aliquam
                    vehicula dolor vitae gravida. Nulla ut diam in nibh pharetra commodo
                    at in purus.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark cgds" data-bs-dismiss="modal">
                    បិទ
                </button>
                <button type="button" class="btn btn-primary">រក្សាទុកការផ្លាស់ប្តូរ</button>
            </div>
        </div>
    </div>
</div>
{% endcapture %}

{% capture fullscreen-demo %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary cgds" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
    ពេញ​អេក្រង់
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="bi bi-exclamation-circle left me-2"></i>ចំណងជើងផ្លាកជូនដំណឹង
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">នេះគឺជាផ្លាកជូនដំណឹងមួយ</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark cgds" data-bs-dismiss="modal">
                    បិទ
                </button>
                <button type="button" class="btn btn-primary cgds">រក្សាទុកការផ្លាស់ប្តូរ</button>
            </div>
        </div>
    </div>
</div>
{% endcapture %}

<div class="page-component">
    {% include page-component/component-header.html %}
    <section name="section-examples">
        <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="ទំហំលំនាំដើម"
            compName="modal-default" code=modal-default %}
        </div>

        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="ការបង្ហាញផ្លាកជូនដំណឹងលំនាំដើម"
            compName="modal-default-demo" code=modal-default-demo %}
        </div>

        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="ទំហំ"
            compName="size-demo" code=size-demo %}
        </div>

        <div class="section-sub">
            {% include page-component/component-code-snippet.html
            compTitle="ដែលអាច​អូសបាន" compName="scrollable-demo" code=scrollable-demo %}
        </div>

        <div class="section-sub">
            {% include page-component/component-code-snippet.html
            compTitle="ពេញ​អេក្រង់" compName="fullscreen-demo" code=fullscreen-demo %}
        </div>

        <!-- Add addtional section-sub for more variants -->
    </section>

    <!-- Anatomy Section -->
    <section name="section-anatomy">
        <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំរបស់ផ្លាកជូនដំណឹង</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/modal/anatomy-modal.svg" alt="Modal Anatomy" />
                </div>
            </div>
            <ol>
                <li>
                    <b>រូបតំណាង(ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b>
                    ប្រើដើម្បីផ្តល់ខ្លឹមសារបន្ថែមទៀតចំពោះអ្វីដែលផ្លាកជូនដំណឹងផ្តល់អំពី។
                </li>
                <li>
                    <b>ចំណងជើង៖</b> ប្រើដើម្បីប្រាប់អ្នកប្រើប្រាស់អំពីអ្វីដែលផ្លាកជូនដំណឹងបានបង្ហាញ។
                </li>
                <li>
                    <b>រូបតំណាងសម្រាប់បិទ(ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b>
                    អនុញ្ញាតឱ្យអ្នកប្រើប្រាស់សម្រាប់បិទផ្លាកជូនដំណឹងដោយដៃដោយមិនត្រូវការប្រើប៊ូតុង​។
                </li>
                <li>
                    <b>ខ្លឹមសារ៖</b> ប្រើដើម្បីពន្យល់អំពីអ្វីដែលផ្លាកជូនដំណឹងបានបង្ហាញ។ ឧទាហរណ៍, ការផ្ញើសារមានកំហុស​​
                    ឬ​សារបញ្ជាក់។
                </li>
                <li>
                    <b>ប៊ូតុង​៖</b> ប្រើដើម្បីឱ្យអ្នកប្រើប្រាស់បើកដំណើរការ ឬបដិសេធចោល។
                </li>
            </ol>
        </div>
    </section>

    <!-- Spacing Section -->
    <section name="section-spacing">
        <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img class="img-fluid" src="{{site.baseurl}}/assets/img/component/modal/spacing-modal.svg"
                        alt="Modal Spacing" />
                </div>
            </div>
            <p><b>នៅក្នុងផ្លាកជូនដំណឹង</b><br />
                ត្រូវប្រាកដថាមានគម្លាតយ៉ាងហោចណាស់ 24px នៅក្នុងផ្លាកជូនដំណឹង និងរវាងធាតុនៃខ្លឹមសារ។
            </p>
        </div>
    </section>

    <!-- Usage guidelines Section -->
    <section name="section-usage-guidelines">
        <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
        <p class="fw-bold mb-0">ផ្លាកជូនដំណឹង គួរតែត្រូវបានប្រើនៅពេលដែល៖</p>
        <ul>
            <li>
                នៅពេលអ្នកចង់បង្អាក់កិច្ចការបច្ចុប្បន្នរបស់អ្នកប្រើប្រាស់ដើម្បីត្រួតត្រាការយកចិត្តទុកដាក់របស់អ្នកប្រើប្រាស់ចំពោះអ្វីមួយដែលសំខាន់។
                ជាឧទាហរណ៍ ការបញ្ជាក់នៅពេលដែលអ្នកប្រើប្រាស់ចង់ដាក់ស្នើទម្រង់ អ្នកប្រើប្រាស់ចុះឈ្មោះ និងចូល
                ឬការលើកឡើងពីព្រឹត្តិការណ៍សំខាន់មួយជាមួយនឹងរូបភាព នៅពេលចូលគេហទំព័ររបស់អ្នក។
            </li>
            <li>នៅពេលអ្នកចង់លើកឡើងអំពីអ្វីមួយ។</li>
        </ul>
        <p class="fw-bold mb-0">ផ្លាកជូនដំណឹង មិនគួរតែត្រូវបានប្រើនៅពេលដែល៖</p>
        <ul>
            <li>
                នៅពេលដែលអ្នកត្រូវការបង្ហាញការជូនដំណឹងសាមញ្ញដល់អ្នកប្រើប្រាស់។
                វាតែងតែអមជាមួយអ្វីមួយដែលអាចធ្វើសកម្មភាពបានដោយ
                អ្នកប្រើប្រាស់ ដូចជាការបញ្ជាក់ ឬបំពេញទម្រង់បែបបទ។ ប្រសិនបើអ្នកត្រូវការជូនដំណឹងដល់អ្នកប្រើប្រាស់
                សូមប្រើអ្វីមួយដែលមានការរំខានតិច ដូចជាសមាសភាគការជូនដំណឹងជំនួសវិញ។
            </li>
        </ul>
    </section>

    <!-- Usability guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="usability-guidelines">
            គោលការណ៍ណែនាំនៃការរចនា
        </h2>
        <p>
            <b>ការជូនដំណឹងចំពោះអ្នកប្រើប្រាស់</b><br />
            ផ្លាកជូនដំណឹង​ គួរតែលេចឡើងជាលទ្ធផលនៃសកម្មភាពដែលអ្នកប្រើប្រាស់បានធ្វើដូចជានៅពេលដាក់ពាក្យស្នើសុំអ្វីមួយជាដើម។
            ផ្លាកជូនដំណឹង​ មិនគួរត្រូវបានបង្ហាញដោយស្វ័យប្រវត្តិចំពោះអ្នកប្រើប្រាស់ទេ។ ការលើកលែងមួយចំនួនចំពោះច្បាប់គឺ
            ប្រសិនបើអ្នកត្រូវការជូនដំណឹងដល់អ្នកប្រើប្រាស់ថាវគ្គរបស់ពួកគេជិតអស់ពេល
            ឬប្រសិនបើពួកគេត្រូវទទួលយកខូឃីមុននឹងបន្ត។
        </p>
        <p>
            <b>ការសម្រួលនៃចំណងជើង</b><br />
            ត្រូវប្រាកដថាចំណងជើងច្បាស់លាស់សម្រាប់អ្នកប្រើប្រាស់។ ដោយជៀសវាងពីការភ័ន្តច្រឡំ
            និងបង្ហាញពីសកម្មភាពអ្វីចាំបាច់ត្រូវយក។
        </p>
        <p>
            <b>ព្យាយាមជៀសវាងពីខ្លឹមសារវែងជាមួយការអូស</b><br />
            ខ្លឹមសារវែងជាមួយការរអូសកំណត់សមត្ថភាពរបស់អ្នកប្រើប្រាស់ក្នុងការមើលសារទាំងមូល ដោយសារទំហំមានកំណត់។
        </p>
    </section>

    <section>
        <h2 class="title fw-bold" id="design-tokens">
            ខ្នាតសម្រាប់រចនារបស់ {% t headers.modal %}
        </h2>
        {%- highlight sass -%}{{modal-design-tokens}}{%- endhighlight -%}
    </section>
</div>
