{% capture with-texts-arrows %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i>ថយក្រោយ</a></li>
        <li class="page-item active"><a class="page-link" href="#">១</a></li>
        <li class="page-item"><a class="page-link" href="#">២</a></li>
        <li class="page-item"><a class="page-link" href="#">៣</a></li>
        <li class="page-item"><a class="page-link" href="#">៤</a></li>
        <li class="page-item"><a class="page-link" href="#">៥</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">១២</a></li>
        <li class="page-item"><a class="page-link" href="#">បន្ទាប់<i class="bi bi-chevron-right"></i></a></li>
    </ul>
</nav>
{% endcapture %} {% capture with-texts %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">ថយក្រោយ</a></li>
        <li class="page-item active"><a class="page-link" href="#">១</a></li>
        <li class="page-item"><a class="page-link" href="#">២</a></li>
        <li class="page-item"><a class="page-link" href="#">៣</a></li>
        <li class="page-item"><a class="page-link" href="#">៤</a></li>
        <li class="page-item"><a class="page-link" href="#">៥</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">១២</a></li>
        <li class="page-item"><a class="page-link" href="#">បន្ទាប់</a></li>
    </ul>
</nav>
{% endcapture %} {% capture with-arrows %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a></li>
        <li class="page-item active"><a class="page-link" href="#">១</a></li>
        <li class="page-item"><a class="page-link" href="#">២</a></li>
        <li class="page-item"><a class="page-link" href="#">៣</a></li>
        <li class="page-item"><a class="page-link" href="#">៤</a></li>
        <li class="page-item"><a class="page-link" href="#">៥</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">១២</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a></li>
    </ul>
</nav>
{% endcapture %} {% capture pagination-design-tokens %} $pagination-padding-y:
0.5rem !default; $pagination-padding-x: 1rem !default; $pagination-padding-y-sm:
.25rem !default; $pagination-padding-x-sm: .5rem !default;
$pagination-padding-y-lg: .75rem !default; $pagination-padding-x-lg: 1.5rem
!default; $pagination-color: $link-color !default; $pagination-bg: $white
!default; $pagination-border-width: $border-width !default;
$pagination-border-radius: $border-radius !default; $pagination-margin-start:
-$pagination-border-width !default; $pagination-border-color: $border-color
!default; $pagination-focus-color: $link-hover-color !default;
$pagination-focus-bg: $gray-200 !default; $pagination-focus-box-shadow:
$input-btn-focus-box-shadow !default; $pagination-focus-outline: 0 !default;
$pagination-hover-color: $link-hover-color !default; $pagination-hover-bg:
$gray-200 !default; $pagination-hover-border-color: $gray-300 !default;
$pagination-active-color: $component-active-color !default;
$pagination-active-bg: $component-active-bg !default;
$pagination-active-border-color: $pagination-active-bg !default;
$pagination-disabled-color: $gray-600 !default; $pagination-disabled-bg: $white
!default; $pagination-disabled-border-color: $border-color !default;
$pagination-transition: color .15s ease-in-out, background-color .15s
ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
!default; $pagination-border-radius-sm: $border-radius-sm !default;
$pagination-border-radius-lg: $border-radius-lg !default; {% endcapture %}

<!-- Page starts here -->
<div class="page-component">
    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <!-- Example Section -->
    <section name="section-examples">
        <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html
            compTitle="ភ្ជាប់ជាមួយអក្សរនិងសញ្ញា" compName="with-texts-arrows"
            code=with-texts-arrows %}
        </div>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html
            compTitle="ភ្ជាប់ជាមួយអក្សរ" compName="with-texts" code=with-texts %}
        </div>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html
            compTitle="ភ្ជាប់ជាមួយសញ្ញាព្រួញ" compName="with-arrows"
            code=with-arrows %}
        </div>
    </section>

    <!-- Anatomy Section -->
    <section name="section-anatomy">
        <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំរបស់ការរៀបចំទំព័រ</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase | remove: 'headers.'}}/anatomy-pagination-1.svg" alt="Pagination Anatomy"/>
                </div>
            </div>
            <ol>
                <li>
                    <b>ប៊ូតុងថយក្រោយ និង បន្ទាប់៖</b> អនុញ្ញាត​ឱ្យ​អ្នក​ប្រើប្រាស់​ថយ​ក្រោយ ឬ​បញ្ជូន​បន្ត​ទំព័រ​មួយ, អាច​ជា​អក្សរឬរូប​តំណាង, អាចប្រើតែមួយប្រសិនបើគ្មានកន្លែងគ្រប់គ្រាន់។
                </li>
                <li>
                    <b>លេខរៀង៖</b> អនុញ្ញាតឱ្យអ្នកប្រើប្រាស់រំលងទៅទំព័រផ្សេងៗបានគ្រប់ពេល។
                </li>
                <li>
                    <b>ការកាត់ចេញ៖</b> នៅពេលឈានដល់កម្រិតនៃទំព័រ បញ្ជីត្រូវបានកាត់បន្ថយដោយប្រើសញ្ញាចុច៣។
                </li>
            </ol>
        </div>
    </section>

    <!-- Spacing Section -->
    <section name="section-spacing">
        <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/{{page.title | downcase | remove: 'headers.'}}/spacing-pagination-1.svg"​ alt="Pagination Spacing"/>
                </div>
            </div>
            <p>
                <b>នៅខាងក្នុងទំព័រ</b><br />
                ត្រូវប្រាកដថាមានគម្លាតបញ្ឈរ 8px និងគម្លាតផ្ដេក 16px។ កម្ពស់មូលដ្ឋាន 48px ។
            </p>
        </div>
    </section>

    <!-- Usage guidelines Section -->
    <section name="section-usage-guidelines">
        <h2 class="title fw-bold" id="usage-guidelines">ការណែនាំអំពីការប្រើប្រាស់</h2>
        <p class="fw-bold mb-0">ការរៀបចំទំព័រ គួរតែត្រូវបានប្រើនៅពេលដែល៖</p>
        <ol>
            <li>
                ខ្លឹមសារវែងអាចត្រូវបានបំបែកទៅជាទំព័រជាច្រើនដែលអាចស្វែងរកតាមលំដាប់លំដោយ ឬដោយជ្រើសរើសទំព័រជាក់លាក់មួយនៅក្នុងសំណុំទំព័រ។
            </li>
        </ol>
        <p class="fw-bold mb-0">ការរៀបចំទំព័រ មិនគួរតែត្រូវបានប្រើនៅពេលដែល៖</p>
        <ol>
            <li>
                ទំព័រមាន Scrolling មិនអាចកំណត់បាន ពោលគឺការផ្ទុកទិន្នន័យ នៅពេលដែលអ្នកប្រើប្រាស់ Scroll ចុះក្រោមទំព័រ។
            </li>
            <li>
                ខ្លឹមសារមិនមែនជាផ្នែកនៃសំណុំតែមួយ,​ពិចារណាប្រើ
                <a href="">របារខាងលើ</a>ជំនួសវិញ។
            </li>
            <li>ការផ្លាស់ប្តូររវាងបទបង្ហាញ ឬខ្លឹមសារនៅក្នុងរង្វិលជុំទំព័រតែមួយ។</li>
        </ol>
    </section>

    <!-- Usability guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="usability-guidelines">
            គោលការណ៍ណែនាំនៃការប្រើប្រាស់
        </h2>
        <p>
            <b>បង្ហាញ​ចំនួន​ទំព័រ​សរុប​ក្នុង​ការ​កំណត់​ទំព័រ​គ្រប់​ពេល​ដែល​អាច​ធ្វើ​ទៅ​បាន។ </b><br>
            អ្នកប្រើប្រាស់គួរតែដឹងពីចំនួនទំព័រ ឬធាតុសរុប។ ការកាត់ចេញអាចត្រូវបានប្រើនៅពេលដែលចំនួនទំព័រលើសពីដែនកំណត់បង្ហាញទំព័រ។
        </p>
        <p>
            <b>លើកឡើងពីទំព័រថ្មីៗ</b><br />
            ការរៀបចំទំព័រ​ គួរតែលើកឡើងពីទំព័រដែលអ្នកប្រើប្រាស់កំពុងបើក។
        </p>
        <p>
            <b>ដាក់លេខនៃការរៀបចំទំព័រនៅខាងក្រោមនៃសំណុំលទ្ធផល</b><br/>
            ដាក់ការរៀបចំទំព័រនៅផ្នែកខាងក្រោមនៃទំព័រ ដើម្បីឱ្យអ្នកប្រើប្រាស់អាចស្វែងរករវាងទំព័រនីមួយៗបាន។
        </p>
    </section>

    <!-- Design token Section -->
    <section name="section-design-tokens">
        <h2 class="title fw-bold" id="design-tokens">
            ខ្នាតសម្រាប់រចនារបស់{% t headers.pagination %}
        </h2>
        {%- highlight sass -%}{{pagination-design-tokens}}{%- endhighlight -%}
    </section>
</div>