{% capture default-progress-bar %}
<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 25%"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
<br/>
<div class="progress">
  <div
    class="progress-bar bg-secondary"
    role="progressbar"
    style="width: 50%"
    aria-valuenow="50"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
<br/>
<div class="progress">
  <div
    class="progress-bar bg-success"
    role="progressbar"
    style="width: 75%"
    aria-valuenow="75"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
<br/>
<div class="progress">
  <div
    class="progress-bar bg-warning"
    role="progressbar"
    style="width: 25%"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
<br/>
<div class="progress">
  <div
    class="progress-bar bg-danger"
    role="progressbar"
    style="width: 50%"
    aria-valuenow="50"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
<br/>
<div class="progress">
  <div
    class="progress-bar bg-info"
    role="progressbar"
    style="width: 75%"
    aria-valuenow="75"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
<br/>
<div class="progress">
  <div
    class="progress-bar bg-dark"
    role="progressbar"
    style="width: 25%"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
{% endcapture %} {% capture with-label %}
<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 50%"
    aria-valuenow="50"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    50%
  </div>
</div>
{% endcapture %} {% capture striped-progress-bar %}
<div class="progress">
  <div
    class="progress-bar progress-bar-striped"
    role="progressbar"
    style="width: 50%"
    aria-valuenow="50"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
{% endcapture %} {% capture animated-progress-bar %}
<div class="progress">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated"
    role="progressbar"
    style="width: 50%"
    aria-valuenow="50"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
{% endcapture %} {% capture stacked-progress-bar %}
<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: 15%"
    aria-valuenow="15"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
  <div
    class="progress-bar bg-success"
    role="progressbar"
    style="width: 30%"
    aria-valuenow="30"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
  <div
    class="progress-bar bg-info"
    role="progressbar"
    style="width: 20%"
    aria-valuenow="20"
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
</div>
{% endcapture %}

{% capture progress-bar-design-tokens %}
$progress-height: 1rem !default;
$progress-font-size: $font-size-base * 0.75 !default;
$progress-bg: $gray-200 !default;
$progress-border-radius: $border-radius !default;
$progress-box-shadow: $box-shadow-inset !default;
$progress-bar-color: $white !default;
$progress-bar-bg: $primary !default;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-transition: width 0.6s ease !default;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">
  <!-- Generated header from front end matters -->
  {% include page-component/component-header.html %}

  <!-- Example Section -->
  <section name="section-examples">
    <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html
      compTitle="បុរេជម្រើស" compName="default-progress-bar"
      code=default-progress-bar %}
    </div>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html
      compTitle="មានពាក្យឬលេខសម្គាល់" compName="with-label" code=with-label %}
    </div>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html
      compTitle="មានក្រឡា"
      compName="striped-progress-bar" code=striped-progress-bar %}
    </div>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html
      compTitle="មានជីវចល" compName="animated-progress-bar"
      code=animated-progress-bar %}
    </div>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html
      compTitle="មានផ្នែកតូចៗ" compName="stacked-progress-bar"
      code=stacked-progress-bar %}
    </div>
  </section>

  <!-- Anatomy Section -->
  <section name="section-anatomy">
    <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំ</h2>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img
            src="{{site.baseurl}}/assets/img/component/progress-bar/anatomy-progressbar.svg"
            alt="Progress Bar Anatomy"
          />
        </div>
      </div>
      <ol>
        <li>
          <b>ពណ៌ចង្អុលបង្ហាញ៖</b> បង្ហាញប្រាប់អ្នកប្រើប្រាស់ថាដំណើរការរបស់គាត់សម្រេចបានដល់កម្រិតណាហើយ។
        </li>
      </ol>
    </div>
  </section>

  <!-- Usage guidelines Section -->
  <section name="section-usage-guidelines">
    <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
    <p class="fw-bold mb-0">របារ​វឌ្ឍនភាពគួរប្រើប្រាស់នៅពេល៖</p>
    <ul>
      <li>ពេលអ្នកចង់បង្ហាញអ្នកប្រើប្រាស់ឱ្យដឹងថាដំណើរការរបស់គាត់សម្រេចបានដល់កម្រិតណាហើយ</li>
      <li>នៅពេលមានការដាក់បញ្ចូល ឬទាញយកឯកសារផ្សេងៗនៅក្នុងទំព័រ។</li>
    </ul>
    <p class="fw-bold mb-0">របារ​វឌ្ឍនភាពមិនគួរប្រើប្រាស់នៅពេល៖</p>
    <ul>
      <li>ប្រើដើម្បីបង្ហាញអ្នកប្រើប្រាស់សម្រាប់ការឆ្លងទៅមកទៅកាន់ទំព័រផ្សេងៗក្នុងគេហទំព័រ។</li>
    </ul>
  </section>

  <!-- Usability guidelines Section -->
  <section name="section-usability-guidelines">
    <h2 class="title fw-bold" id="usability-guidelines">
      គោលការណ៍ណែនាំនៃការរចនា
    </h2>
    <p>
      <b>ធ្វើឱ្យរបារមានចលនា</b><br/>
      នេះបង្ហាញថាដំណើរការរបស់ពួកគាត់កំពុងតែត្រូវបានប្រព្រឹត្តិឡើង។
      របារ​វឌ្ឍនភាពដែលនៅស្ងៀមអាចធ្វើឱ្យអ្នកប្រើប្រាស់គិតថាដំណើរការរបស់គាត់ត្រូវបានជាប់គាំង។
    </p>

    <p>
      <b>រចនារបារ​វឌ្ឍនភាពឱ្យដូចៗគ្នាទាំងអស់</b><br/>
      នៅក្នុងគេហទំព័រតែមួយគួរតែរចនារបារ​វឌ្ឍនភាពឱ្យដូចៗគ្នាទាំងអស់ និងប្រើប្រភេទរបារ​វឌ្ឍនភាពតែមួយគត់ ដើម្បីចៀសវាងការភាន់ច្រឡំ។
    </p>
  </section>

  <!-- Design token Section -->
  <section name="section-design-tokens">
    <h2 class="title fw-bold" id="design-tokens">
      ខ្នាតសម្រាប់រចនា
    </h2>
    {%- highlight sass -%}{{progress-bar-design-tokens}}{%- endhighlight -%}
  </section>
</div>
