{% capture side-navigation-icon %}
<nav class="sidenav cgds list-unstyled open1" aria-label="side-navigation menu">
    <ul>
        <li class="sidenav-item">
            <button class="cgds btn collapsed active" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExampleA" aria-expanded="false" aria-controls="collapseExampleA">
                <i class="bi bi-layers"></i>ម៉ឺនុយ
                <i class="bi bi-chevron-down"></i>
            </button>
            <div class="collapse show" id="collapseExampleA" data-bs-parent=".open1">
                <ul class="list-unstyled">
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link active">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                </ul>
            </div>
        </li>
        <li class="sidenav-item">
            <button class="cgds btn collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExampleB" aria-expanded="false" aria-controls="collapseExampleB">
                <i class="bi bi-layers"></i>ម៉ឺនុយ
                <i class="bi bi-chevron-down"></i>
            </button>
            <div class="collapse" id="collapseExampleB" data-bs-parent=".open1">
                <ul class="list-unstyled">
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                </ul>
            </div>
        </li>
        <li class="sidenav-item">
            <button class="cgds btn collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExampleC" aria-expanded="false" aria-controls="collapseExampleC">
                <i class="bi bi-layers"></i>ម៉ឺនុយ
                <i class="bi bi-chevron-down"></i>
            </button>
            <div class="collapse" id="collapseExampleC" data-bs-parent=".open1">
                <ul class="list-unstyled">
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
{% endcapture %}

{% capture side-navigation-no-icon %}
<nav class="sidenav cgds list-unstyled open2" aria-label="side-navigation menu">
    <ul>
        <li class="sidenav-item">
            <button class="cgds btn collapsed active" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExampleD" aria-expanded="false" aria-controls="collapseExampleD">
                ម៉ឺនុយ
                <i class="bi bi-chevron-down"></i>
            </button>
            <div class="collapse show" id="collapseExampleD" data-bs-parent=".open2">
                <ul class="list-unstyled">
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link active">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                </ul>
            </div>
        </li>
        <li class="sidenav-item">
            <button class="cgds btn collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExampleE" aria-expanded="false" aria-controls="collapseExampleE">
                ម៉ឺនុយ
                <i class="bi bi-chevron-down"></i>
            </button>
            <div class="collapse" id="collapseExampleE" data-bs-parent=".open2">
                <ul class="list-unstyled">
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                </ul>
            </div>
        </li>
        <li class="sidenav-item">
            <button class="cgds btn collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExampleF" aria-expanded="false" aria-controls="collapseExampleF">
                ម៉ឺនុយ
                <i class="bi bi-chevron-down"></i>
            </button>
            <div class="collapse" id="collapseExampleF" data-bs-parent=".open2">
                <ul class="list-unstyled">
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                    <li><a href="#" class="nav-link">ម៉ឺនុយរង</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
{% endcapture %}

{% capture side-navigation-design-tokens %}
$sidenav-color: $primary !default;
$sidenav-fontsize: 1rem !default;
$sidenav-width: auto !default;
$sidenav-item-spacing: 1rem !default;
$sidenav-btn-border-width: $navbar-border-bottom-height !default;
$sidenav-btn-padding-x: 0.5rem;
$sidenav-btn-padding-y: 0.5rem;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">

    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <!-- Example Section -->
    <section name="section-examples">
        <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="មានរូបសញ្ញា" compName="side-navigation-icon" code=side-navigation-icon %}
        </div>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="គ្មានរូបសញ្ញា" compName="side-navigation-no-icon" code=side-navigation-no-icon %}
        </div>
    </section>

    <!-- Anatomy Section -->
    <section name="section-anatomy">
        <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំ</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/side-navigation/anatomy-side-navigation-1.svg"
                         alt="Side Navigation Anatomy">
                </div>
            </div>
            <ol>
                <li>
                    <b>ពណ៌ចង្អុលបង្ហាញ៖</b> សម្រាប់បង្ហាញទៅកាន់អ្នកប្រើប្រាស់ឱ្យដឹងថាពួកគាត់កំពុងចុចលើ ឬស្ថិតនៅលើធាតុមួយណារបស់ម៉ឺនុយ។
                </li>
                <li>
                    <b>ឈ្មោះម៉ឺនុយ៖</b> ប្រាប់អ្នកប្រើប្រាស់ថាទំព័រនេះនិយាយពីអ្វីឬមានបំណងអ្វី។
                </li>
                <li>
                    <b>សញ្ញាព្រួញ (ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b> សម្រាប់ប្រាប់អ្នកប្រើប្រាស់ថាម៉ឺនុយនេះមានម៉ឺនុយរងតូចៗនៅខាងក្នុង
                    និងអាចបញ្ចេញមកក្រៅឬបញ្ចូលទៅក្នុងវិញបាននៅពេលដែលពួកគាត់ចុចវា។
                </li>
                <li>
                    <b>ឈ្មោះម៉ឺនុយរង៖</b> ប្រាប់អ្នកប្រើប្រាស់ថាម៉ឺនុយរងមួយនេះនិយាយពីអ្វីឬមានបំណងអ្វី។
                </li>
            </ol>
        </div>
    </section>

    <!-- Spacing Section -->
    <section name="section-spacing">
        <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/side-navigation/spacing-side-navigation-1.svg"
                         alt="Side Navigation Spacing 1">
                </div>
            </div>
            <p><b>នៅម៉ឺនុយរង</b><br>
               រក្សាគម្លាតយ៉ាងតិច 32px នៅលើអ័ក្សដេកនៅចន្លោះរវាងម៉ឺនុយរងនីមួយៗ។</p>
        </div>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/side-navigation/spacing-side-navigation-2.svg"
                         alt="Side Navigation Spacing 2">
                </div>
            </div>
            <p><b>នៅជុំវិញម៉ឺនុយ</b><br>
                រក្សាគម្លាតយ៉ាងតិច 16px នៅចន្លោះរវាងឈ្មោះ រូបសញ្ញា និងពណ៌ចង្អុលបង្ហាញ។</p>
        </div>
    </section>

    <!-- Usage guidelines Section -->
    <section name="section-usage-guidelines">
        <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
        <p class="fw-bold mb-0">{% t headers.side-navigation %}គួរតែត្រូវបានប្រើប្រាស់នៅពេល</p>
        <ul>
            <li>ទំព័រមួយមានផ្ទុកផ្នែកតូចៗជាច្រើន។
                {% t headers.side-navigation %}ផ្តល់ភាពងាយស្រួលដល់អ្នកប្រើប្រាស់ក្នុងការឆ្លងទៅកាន់ផ្នែកតូចៗទាំងនោះ។
            </li>
        </ul>
        <p class="fw-bold mb-0">{% t headers.side-navigation %}មិនគួរត្រូវបានប្រើប្រាស់នៅពេល</p>
        <ul>
            <li>ទំព័រមិនមានផ្នែកតូចៗច្រើនពេកទេ។</li>
        </ul>
    </section>

    <!-- Usability guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="usability-guidelines">គោលការណ៍ណែនាំនៃការរចនា</h2>
        <p>
        <b>រំលេចឱ្យឃើញនូវផ្នែកដែលអ្នកប្រើប្រាស់កំពុងស្ថិតនៅលើនៅពេលឥឡូវនេះ</b><br>
            បង្ហាញទៅកាន់អ្នកប្រើប្រាស់ឱ្យដឹងថាពួកគាត់កំពុងចុចលើ ឬស្ថិតនៅលើធាតុមួយណារបស់ម៉ឺនុយ ដោយប្រើវិធីរំលេចពណ៌។
        </p>
        <p>
            <b>សរសេរឈ្មោះម៉ឺនុយរងឱ្យងាយយល់</b><br>
            ឈ្មោះម៉ឺនុយរងត្រូវសរសេរឱ្យច្បាស់ៗហើយងាយយល់ ចៀសវាងកុំប្រើពាក្យកាត់ ពាក្យពិបាក ឬពាក្យបច្ចេកទេស ដែលនាំឱ្យអ្នកប្រើប្រាស់ពិបាកយល់។
        </p>
    </section>

    <!-- Design token Section -->
    <section name="section-design-tokens">
        <h2 class="title fw-bold" id="design-tokens">ខ្នាតសម្រាប់រចនា</h2>
        {%- highlight sass -%}{{side-navigation-design-tokens}}{%- endhighlight -%}
    </section>
</div>
