{% capture default-tabs %}
<ul class="cgds nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab"
            aria-controls="home" aria-selected="true">ទំព័រដើម</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
            aria-controls="profile" aria-selected="false">ប្រវត្តិរូប</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab"
            aria-controls="contact" aria-selected="false">លេខទាក់ទង</button>
  </li>
</ul>
<div class="cgds tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    នេះគ្រាន់តែជាអក្សរឧទាហរណ៍សម្រាប់ដាក់បំពេញចន្លោះទទេរឱ្យទំព័រនេះមើលទៅឃើញស្អាតតែប៉ុំណ្ណោះ។</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    នេះគ្រាន់តែជាអក្សរឧទាហរណ៍សម្រាប់ដាក់បំពេញចន្លោះទទេរឱ្យទំព័រនេះមើលទៅឃើញស្អាតតែប៉ុំណ្ណោះ។</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    នេះគ្រាន់តែជាអក្សរឧទាហរណ៍សម្រាប់ដាក់បំពេញចន្លោះទទេរឱ្យទំព័រនេះមើលទៅឃើញស្អាតតែប៉ុំណ្ណោះ។</div>
</div>
{% endcapture %}

{% capture basic-toggle-tabs %}
<!-- Add variant="tabs-basic-toggle" -->
<ul class="cgds nav nav-tabs" id="myTab" role="tablist" variant="tabs-basic-toggle">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home1" type="button" role="tab"
            aria-controls="home" aria-selected="true"><i class="bi bi-house left"></i>ទំព័រដើម</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile1" type="button" role="tab"
            aria-controls="profile" aria-selected="false">
      ប្រវត្តិរូប
      <span class="cgds badge bg-light text-dark right">99</span>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact1" type="button" role="tab"
            aria-controls="contact" aria-selected="false">លេខទាក់ទង<i class="bi bi-telephone right"></i></button>
  </li>
</ul>
<div class="cgds tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
    <p>នេះគ្រាន់តែជាអក្សរឧទាហរណ៍សម្រាប់ដាក់បំពេញចន្លោះទទេរឱ្យទំព័រនេះមើលទៅឃើញស្អាតតែប៉ុំណ្ណោះ។</p>
  </div>
  <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
    <table class="table">
      <caption>ប្រវត្តិរូប</caption>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">គោត្តនាម</th>
        <th scope="col">នាម</th>
        <th scope="col">បញ្ជាប់</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ចន្ទ</td>
        <td>សុមន្ថា</td>
        <td>@smt</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>សុខ</td>
        <td>មាលតី</td>
        <td>@md</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">កូនបក្សីតូច</td>
        <td>@swift</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">
    នេះគ្រាន់តែជាអក្សរឧទាហរណ៍សម្រាប់ដាក់បំពេញចន្លោះទទេរឱ្យទំព័រនេះមើលទៅឃើញស្អាតតែប៉ុំណ្ណោះ។</div>
</div>
{% endcapture %}

{% capture info-toggle-tabs %}
<!-- Add variant="tabs-info-toggle" -->
<ul class="cgds nav nav-tabs" id="myTab" role="tablist" variant="tabs-info-toggle">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab2" data-bs-toggle="tab" data-bs-target="#home2" type="button" role="tab"
            aria-controls="home" aria-selected="true">
      <!-- Add has-icon for label if icon is included -->
      <div class="tabs-info-label has-icon">
        <i class="bi bi-house"></i>
        ទំព័រដើម
      </div>
      <div class="tabs-info-count">99</div>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab2" data-bs-toggle="tab" data-bs-target="#profile2" type="button" role="tab"
            aria-controls="profile" aria-selected="true">
      <div class="tabs-info-label">
        ប្រវត្តិរូប
      </div>
      <div class="tabs-info-count">99</div>
    </button>
  </li>
</ul>
<div class="cgds tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab">
    <p>នេះគ្រាន់តែជាអក្សរឧទាហរណ៍សម្រាប់ដាក់បំពេញចន្លោះទទេរឱ្យទំព័រនេះមើលទៅឃើញស្អាតតែប៉ុំណ្ណោះ។</p>
  </div>
  <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
    <table class="table">
      <caption>ប្រវត្តិរូប</caption>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">គោត្តនាម</th>
        <th scope="col">នាម</th>
        <th scope="col">បញ្ជាប់</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>សុមន្ថា</td>
        <td>ចន្ទ</td>
        <td>@smt</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>សុខ</td>
        <td>មាលតី</td>
        <td>@md</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">កូនបក្សីតូច</td>
        <td>@swift</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{% endcapture %}

{% capture tabs-design-tokens %}
$nav-tabs-border-color: transparent !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $gray-700 !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;
$nav-cgds-tabs-active-border-color: $link-color !default;
$nav-cgds-tabs-padding-y: $spacer !default;
$nav-cgds-tabs-icon-padding: $spacer !default;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">

  <!-- Generated header from front end matters -->
  {% include page-component/component-header.html %}

  <!-- Example Section -->
  <section name="section-examples">
    <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html compTitle="តាមបុរេជម្រើស" compName="default-tabs" code=default-tabs %}
    </div>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html compTitle="ផ្ទាំងកន្លាស់" compName="basic-toggle-tabs" code=basic-toggle-tabs %}
    </div>
    <div class="section-sub">
      {% include page-component/component-code-snippet.html compTitle="ផ្ទាំងកន្លាស់ព័ត៌មាន" compName="info-toggle-tabs" code=info-toggle-tabs %}
    </div>
  </section>

  <!-- Anatomy Section -->
  <section name="section-anatomy">
    <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំ</h2>
    <h3 class="title fw-bold" id="anatomy-default">ផ្ទាំងតាមបុរេជម្រើស</h3>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img src="{{site.baseurl}}/assets/img/component/tab/anatomy-defaulttab.svg" alt="default tab">
        </div>
      </div>
      <ol>
        <li>
          <b>ឈ្មោះផ្ទាំង៖</b> ដើម្បីប្រាប់អ្នកប្រើប្រាស់ថាផ្ទាំងនេះមានគោលបំណងអ្វី។ ឈ្មោះនេះត្រូវសរសេរឱ្យខ្លីហើយដាក់វានៅចំកណ្តាលផ្ទាំង។
        </li>
        <li>
          <b>ពណ៌ចង្អុលបង្ហាញ៖</b> ជាបន្ទាត់ស្តើងរំលេចពណ៌មួយសម្រាប់បង្ហាញទៅកាន់អ្នកប្រើប្រាស់ឱ្យដឹងថាពួកគាត់កំពុងចុចលើ ឬស្ថិតនៅលើធាតុមួយណារបស់ផ្ទាំង។
        </li>
      </ol>
    </div>
  </section>

  <section name="section-anatomy">
    <h3 class="title fw-bold" id="anatomy-toggle">ផ្ទាំងកន្លាស់</h3>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img src="{{site.baseurl}}/assets/img/component/tab/anatomy-toggletab.svg" alt="toggle tab">
        </div>
      </div>
      <ol>
        <li>
          <b>រូបសញ្ញា (ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b> អ្នកអាចដាក់រូបសញ្ញាតូចមួយដើម្បីបន្ថែមអត្ថន័យពីលើឈ្មោះរបស់ផ្ទាំង។
        </li>
        <li>
          <b>ឈ្មោះផ្ទាំង៖</b> ដើម្បីប្រាប់អ្នកប្រើប្រាស់ថាផ្ទាំងនេះមានគោលបំណងអ្វី។ ឈ្មោះនេះត្រូវសរសេរឱ្យខ្លីហើយដាក់វានៅចំកណ្តាលផ្ទាំង។
        </li>
        <li>
          <b>ចំនួន (ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b> ជាធាតុផ្សំបន្ទាប់បន្សំ សម្រាប់ផ្តល់ព័ត៌មានបន្ថែមទៀត។ ឧទាហរណ៍ ចំនួនការជូនដំណឹង។
        </li>
      </ol>
    </div>
  </section>

  <section name="section-anatomy">
    <h3 class="title fw-bold" id="anatomy-info-toggle">ផ្ទាំងកន្លាស់ព័ត៌មាន</h3>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img src="{{site.baseurl}}/assets/img/component/tab/anatomy-infotoggle.svg" alt="info toggle tab">
        </div>
      </div>
      <p>យើងមិនលើកទឹកចិត្តឱ្យអ្នកផ្លាស់ប្តូរការរចនារបស់ផ្ទាំងកន្លាស់ព័ត៌មានទេ។ គួរចម្លងវាទាំងស្រុងយកទៅប្រើប្រាស់ ប៉ុន្តែអ្នកអាចប្តូរពណ៌របស់វាបាន។</p>
      <ol>
        <li>
          <b>រូបសញ្ញា (ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b> អ្នកអាចដាក់រូបសញ្ញាតូចមួយដើម្បីបន្ថែមអត្ថន័យពីលើឈ្មោះរបស់ផ្ទាំង។
        </li>
        <li>
          <b>ឈ្មោះផ្ទាំង៖</b> ដើម្បីប្រាប់អ្នកប្រើប្រាស់ថាផ្ទាំងនេះមានគោលបំណងអ្វី។ ឈ្មោះនេះត្រូវសរសេរឱ្យខ្លីហើយដាក់វានៅចំកណ្តាលផ្ទាំង។
        </li>
        <li>
          <b>ចំនួន (ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b> ជាធាតុផ្សំបន្ទាប់បន្សំ សម្រាប់ផ្តល់ព័ត៌មានបន្ថែមទៀត។ ឧទាហរណ៍ ចំនួនការជូនដំណឹង។
        </li>
      </ol>
    </div>
  </section>

  <!-- Spacing Section -->
  <section name="section-spacing">
    <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
    <h3 class="title fw-bold" id="spacing-default">ផ្ទាំងតាមបុរេជម្រើស</h3>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img src="{{site.baseurl}}/assets/img/component/tab/spacing-defaulttab.svg" alt="default tabs spacing">
        </div>
      </div>
      <p><b>នៅក្នុងផ្ទាំងតាមបុរេជម្រើស</b><br/>
        គម្លាត 8px ត្រូវបានរក្សាទុកនៅចន្លោះអក្សរនិងបន្ទាត់ពណ៌។
    </div>
  </section>

  <section name="section-spacing">
    <h3 class="title fw-bold" id="spacing-toggle">ផ្ទាំងកន្លាស់</h3>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img src="{{site.baseurl}}/assets/img/component/tab/spacing-toggletab.svg" alt="toggle tabs spacing">
        </div>
      </div>
      <p><b>នៅក្នុងផ្ទាំងកន្លាស់</b><br/>
        រក្សាគម្លាត 16px លើអ័ក្សដេក និង 8px លើអ័ក្សឈរនៃគែមរបស់ផ្ទាំង។
    </div>
  </section>

  <section name="section-spacing">
    <h3 class="title fw-bold" id="spacing-info-toggle">ផ្ទាំងកន្លាស់ព័ត៌មាន</h3>
    <div class="section-sub">
      <div class="cgds-example-image-container">
        <div class="cgds-example-image-grid">
          <img src="{{site.baseurl}}/assets/img/component/tab/spacing-infotoggle.svg" alt="info toggle tabs spacing">
        </div>
      </div>
      <p><b>នៅក្នុងផ្ទាំងកន្លាស់ព័ត៌មាន</b><br/>
        គម្លាត 12px ត្រូវបានរក្សាទុកនៅជុំវិញគែមរបស់ផ្ទាំង។ គម្លាត 8px ត្រូវបានរក្សាទុកនៅចន្លោះអក្សរនិងលេខចំនួន។
    </div>
  </section>

  <!-- Usage guidelines Section -->
  <section name="section-usage-guidelines">
    <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
    <p class="fw-bold mb-0">ផ្ទាំងគួរប្រើប្រាស់នៅពេល៖</p>
    <ul>
      <li>អ្នកចង់បង្ហាញខ្លឹមសារផ្សេងពីគ្នាតែមានលក្ខណៈស្រដៀងគ្នា។</li>
      <li>អ្នកចង់បំបែកខ្លឹមសារមួយជាផ្នែកតូចៗ។</li>
    </ul>
    <p class="fw-bold mb-0">ផ្ទាំងមិនគួរប្រើប្រាស់នៅពេល៖</p>
    <ul>
      <li>អ្នកចង់បង្ហាញខ្លឹមសារសំខាន់ខ្លាំង។</li>
      <li>ករណីដែលអ្នកចង់ឱ្យអ្នកប្រើប្រាស់អានខ្លឹមសារតាមលំដាប់។ ឧទាហរណ៍ ការណែនាំជាជំហានៗ។</li>
      <li>ពេលអ្នកប្រើប្រាស់អាចចង់ប្រៀបធៀបខ្លាំងសារទាំងនោះ។</li>
    </ul>
  </section>

  <!-- Usability guidelines Section -->
  <section name="section-usability-guidelines">
    <h2 class="title fw-bold" id="usability-guidelines">គោលការណ៍ណែនាំនៃការរចនា</h2>
    <p>
      <b>សរសេរឈ្មោះផ្ទាំងឱ្យខ្លី</b><br>
      ជាទូទៅយើងប្រើប្រាស់ផ្ទាំងច្រើនជាមួយគ្នា ដូចនេះយើងគួរសរសេរឈ្មោះវាឱ្យកាន់តែខ្លី និងចំចំណុច។
    </p>

    <p>
      <b>កុំប្រើផ្ទាំងច្រើនពេក</b><br>
      ផ្ទាំងមិនបង្ហាញខ្លឹមសារចេញមកក្រៅ ដែលនាំឱ្យវាប្រើប្រាស់ផ្ទៃនៃទំព័រតិច ប៉ុន្តែក៏មិនគួរប្រើប្រាស់វាច្រើនពេកដែរ។
      ក្នុងករណីដែលអាចបញ្ចេញខ្លឹមសារចេញមកក្រៅបានគួរតែកុំប្រើផ្ទាំង។
      ពេលខ្លះការប្រើផ្ទាំងច្រើនពេកធ្វើឱ្យទំព័រដើរយឺត។
    </p>

    <p>
      <b>កុំប្រើវាជំនួសរបារខាងលើ</b><br>
      ផ្ទាំងអាចប្រើដើម្បីឱ្យអ្នកប្រើប្រាស់អាចចុចឆ្លងទៅកាន់ផ្នែកផ្សេងៗនៃទំព័រតែមួយបាន ប៉ុន្តែមិនមែនប្រើដើម្បីឆ្លងទៅកាន់ទំព័រផ្សេងនៃគេហទំព័រទេ។
    </p>
  </section>

  <!-- Design token Section -->
  <section name="section-design-tokens">
    <h2 class="title fw-bold" id="design-tokens">ខ្នាតសម្រាប់រចនា</h2>
    {%- highlight sass -%}{{tabs-design-tokens}}{%- endhighlight -%}
  </section>
</div>
