{% capture with-hint-icon %}
<div class="cgds form-group mb-2">
    <label for="defaultWith" class="form-label">លំនាំដើម</label>
    <div id="defaultWithHelp" class="form-text">នេះជាសេចក្តីណែនាំ</div>
    <div class="cgds form-control-group">
        <input type="text" class=" form-control" id="defaultWith" aria-describedby="defaultWith" placeholder="សរសេរនៅត្រង់នេះ">
        <i class="bi bi-search form-control-icon"></i>
    </div>
</div>
<div class="cgds form-group mb-2">
    <label for="hoverWith" class="form-label">Hover</label>
    <div id="hoverWithHelp" class="form-text">នេះជាសេចក្តីណែនាំ</div>
    <div class="cgds form-control-group">
        <input type="text" class="form-control" id="hoverWith" aria-describedby="hoverWithHelp" placeholder="សរសេរនៅត្រង់នេះ" autofocus />
        <i class="bi bi-search form-control-icon"></i>
    </div>
</div>
<div class="cgds form-group mb-2 was-validated">
    <label for="errorWith" class="form-label">មានបញ្ហា</label>
    <div id="errorWithHelp" class="form-text">នេះជាសេចក្តីណែនាំ</div>
    <div class="cgds form-control-group">
        <input type="text" class="form-control" id="errorWith" aria-describedby="errorWithHelp errorWithInvalid" placeholder="សរសេរនៅត្រង់នេះ" required />
        <i class="bi bi-search form-control-icon"></i>
        <div id="errorWithInvalid" class="invalid-feedback">សារប្រាប់ពីបញ្ហា</div>
    </div>
</div>
<div class="cgds form-group has-feedback mb-2">
    <label for="disabledWith" class="form-label">បិទដំណើរការ</label>
    <div id="disabledWithHelp" class="form-text">នេះជាសេចក្តីណែនាំ</div>
    <div class="cgds form-control-group">
        <input type="text" class="form-control" id="disabledWith" aria-describedby="disabledWithHelp" placeholder="Text goes here" disabled />
        <i class="bi bi-search form-control-icon"></i>
    </div>
</div>
{% endcapture %}

{% capture without-hint-icon %}
<div class="form-group mb-2">
    <label for="defaultWithout" class="form-label">លំនាំដើម</label>
    <input type="text" class="form-control" id="defaultWithout" placeholder="សរសេរនៅត្រង់នេះ" />
</div>
<div class="form-group mb-2">
    <label for="hoverWithout" class="form-label">Hover</label>
    <input type="text" class="form-control" id="hoverWithout" placeholder="សរសេរនៅត្រង់នេះ" autofocus />
</div>
<div class="form-group mb-2 was-validated">
    <label for="errorWithout" class="form-label">មានបញ្ហា</label>
    <input type="text" class="form-control" id="errorWithout" aria-describedby="errorWithoutInvalid" placeholder="សរសេរនៅត្រង់នេះ" required />
    <div id="errorWithoutInvalid" class="invalid-feedback">សារប្រាប់ពីបញ្ហា</div>
</div>
<div class="form-group mb-2">
    <label for="disabledWithout" class="form-label">បិទដំណើរការ</label>
    <input type="text" class="form-control" id="disabledWithout" placeholder="សរសេរនៅត្រង់នេះ" disabled />
</div>
{% endcapture %}

{% capture text-input-design-tokens %}
$form-text-margin-top: null !default;
$form-text-font-size: $font-size-base !default;
$form-text-font-style: null !default;
$form-text-font-weight: null !default;
$form-text-color: $text-muted !default;
$form-label-margin-bottom: .5rem !default;
$form-label-font-size: null !default;
$form-label-font-style: null !default;
$form-label-font-weight: $font-weight-bold !default;
$form-label-color: null !default;
$input-padding-y: $input-btn-padding-y !default;
$input-padding-x: $input-btn-padding-x !default;
$input-font-family: $input-btn-font-family !default;
$input-font-size: $input-btn-font-size !default;
$input-font-weight: $font-weight-base !default;
$input-line-height: $input-btn-line-height !default;
$input-padding-y-sm: $input-btn-padding-y-sm !default;
$input-padding-x-sm: $input-btn-padding-x-sm !default;
$input-font-size-sm: $input-btn-font-size-sm !default;
$input-padding-y-lg: $input-btn-padding-y-lg !default;
$input-padding-x-lg: $input-btn-padding-x-lg !default;
$input-font-size-lg: $input-btn-font-size-lg !default;
$input-bg: $body-bg !default;
$input-disabled-bg: $gray-200 !default;
$input-disabled-border-color: null !default;
$input-color: $body-color !default;
$input-border-color: $gray-400 !default;
$input-border-width: $input-btn-border-width !default;
$input-box-shadow: $box-shadow-inset !default;
$input-border-radius: $border-radius !default;
$input-border-radius-sm: $border-radius-sm !default;
$input-border-radius-lg: $border-radius-lg !default;
$input-focus-bg: $input-bg !default;
$input-focus-border-color: tint-color($component-active-bg, 50%) !default;
$input-focus-color: $input-color !default;
$input-focus-width: $input-btn-focus-width !default;
$input-focus-box-shadow: $input-btn-focus-box-shadow !default;
$input-placeholder-color: $gray-400 !default;
$input-plaintext-color: $body-color !default;
$input-height-border: $input-border-width * 2 !default;
$input-height-inner: add($input-line-height * 1em, $input-padding-y * 2) !default;
$input-height-inner-half: add($input-line-height * .5em, $input-padding-y) !default;
$input-height-inner-quarter: add($input-line-height * .25em, $input-padding-y * .5) !default;
$input-height: add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
$input-height-sm: add($input-line-height * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
$input-height-lg: add($input-line-height * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;
$input-transition: border-color .15s ease-in-out,
box-shadow .15s ease-in-out !default;
$form-color-width: 3rem !default;
$form-feedback-margin-top: $form-text-margin-top !default;
$form-feedback-font-size: $form-text-font-size !default;
$form-feedback-font-style: $form-text-font-style !default;
$form-feedback-valid-color: $success !default;
$form-feedback-invalid-color: $danger !default;
$form-feedback-icon-valid-color: $form-feedback-valid-color !default;
$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$form-feedback-icon-valid-color}' viewBox='0 0 16 16'><path d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z'/></svg>") !default;
$form-feedback-icon-invalid-color: $form-feedback-invalid-color !default;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$form-feedback-icon-invalid-color}' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z'/></svg>") !default;
$form-validation-states: ("valid": ("color": $form-feedback-valid-color, "icon": $form-feedback-icon-valid), "invalid": ("color": $form-feedback-invalid-color, "icon": $form-feedback-icon-invalid)) !default;
{% endcapture %}

<!-- Page starts here -->
<div class="page-component">

    <!-- Generated header from front end matters -->
    {% include page-component/component-header.html %}

    <!-- Example Section -->
    <section name="section-examples">
        <h2 class="title fw-bold" id="example">ឧទាហរណ៍</h2>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="មានសេចក្តីណែនាំ និងរូបសញ្ញា" compName="with-hint-icon" code=with-hint-icon %}
        </div>
        <div class="section-sub">
            {% include page-component/component-code-snippet.html compTitle="គ្មានសេចក្តីណែនាំ និងរូបសញ្ញា" compName="without-hint-icon" code=without-hint-icon %}
        </div>
    </section>

    <!-- Anatomy Section -->
    <section name="section-anatomy">
        <h2 class="title fw-bold" id="anatomy">ធាតុផ្សំ</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/text-input/anatomy-text-input-1.svg" alt="Text Input Anatomy">
                </div>
            </div>
            <ol>
                <li>
                    <b>ស្លាកសញ្ញាជាអក្សរ៖ </b> ប្រាប់អ្នកប្រើប្រាស់ថាតើប្រភេទទិន្នន័យអ្វីដែលត្រូវបានដាក់ក្នុងប្រអប់នេះ។ ស្លាកសញ្ញាជាអក្សរត្រូវតែនៅពីក្រៅប្រអប់។
                </li>
                <li>
                    <b>សេចក្តីណែនាំ៖</b> ផ្តល់ការណែនាំដល់អ្នកប្រើប្រាប់អំពីប្រភេទទិន្នន័យដែលពួកគាត់ត្រូវបញ្ចូល។
                </li>
                <li>
                    <b>សញ្ញាសម្គាល់ (ដាក់ក៏បានមិនដាក់ក៏បាន)៖</b> បង្ហាញពីប្រភេទទិន្នន័យដែលត្រូវបានបញ្ចូលក្នុងប្រអប់ និងអំពីមុខងាររបស់វា។ ឧទាហរណ៍ សញ្ញាកែវយឹត សញ្ញាទម្លាក់ចុះ សញ្ញាប្រភេទរូបិយប័ណ្ណជាដើម។
                </li>
                <li>
                    <b>សារប្រាប់ពីបញ្ហា៖</b>
                    ផ្ដល់ព័ត៌មានអំពីការបញ្ហាដែលបានកើតឡើងដើម្បីឱ្យអ្នកប្រើប្រាស់អាចធ្វើការកែប្រែបាន។
                </li>
            </ol>
        </div>
    </section>

    <!-- Spacing Section -->
    <section name="section-spacing">
        <h2 class="title fw-bold" id="spacing">គម្លាត</h2>
        <div class="section-sub">
            <div class="cgds-example-image-container">
                <div class="cgds-example-image-grid">
                    <img src="{{site.baseurl}}/assets/img/component/text-input/spacing-text-input-1.svg" alt="Text Input Spacing">
                </div>
            </div>
            <p><b>នៅក្នុង{% t headers.text-input %}</b><br>
                រក្សាគម្លាតយ៉ាងតិច 8px នៅលើអ័ក្សដេក និង 16px នៅលើអ័ក្សឈរនៃគែមរបស់ប្រអប់។
            </p>
        </div>
    </section>

    <!-- Usage guidelines Section -->
    <section name="section-usage-guidelines">
        <h2 class="title fw-bold" id="usage-guidelines">គោលការណ៍ណែនាំនៃការប្រើប្រាស់</h2>
        <p class="fw-bold mb-0">{% t headers.text-input %}គួរតែត្រូវបានប្រើប្រាស់នៅពេល៖</p>
        <ul>
            <li>ពេលអ្នកចង់ឱ្យអ្នកប្រើប្រាស់បញ្ចូលខ្លឹមសារជាអក្សរ និងមានប្រវែងមួយបន្ទាត់។</li>
            <li>ពេលអ្នកប្រើប្រាស់អាចបញ្ចូលចម្លើយដោយសេរី។</li>
            <li>ផ្តល់ភាពងាយស្រួលដល់អ្នកប្រើប្រាស់។ ឧទាហរណ៍ ការសរសេរបញ្ចូលកាលបរិច្ឆេទដោយផ្ទាល់ងាយជាងការជ្រើសរើសកាលបរិច្ឆេទពីប្រអប់បញ្ចូលកាលបរិច្ឆេទ។</li>
        </ul>
        <p class="fw-bold mb-0">{% t headers.text-input %}មិនគួរត្រូវបានប្រើប្រាស់នៅពេល៖</p>
        <ol>
            <li>
                ពេលអ្នកចង់ឱ្យអ្នកប្រើប្រាស់បញ្ចូលខ្លឹមសារជាអក្សរ និងមានប្រវែងច្រើនបន្ទាត់។
                <ol type="a">
                    <li>ករណីនេះគួរប្រើ<a href="{{site.baseurl}}/components/text-area/">{% t headers.text-area %}</a>ជំនួសវិញ។</li>
                </ol>
            </li>
            <li>
                ពេលអ្នកចង់ឱ្យអ្នកប្រើប្រាស់ជ្រើសរើសចម្លើយដែលបានកំណត់ទុកជាមុនរួចមកហើយ។
                <ol>
                    <li type="a">ករណីនេះគួរប្រើ <code>&lt;select&gt;</code> ឬ <a href="{{site.baseurl}}/components/checkbox/">{% t headers.checkbox %}</a> ឬ <a href="{{site.baseurl}}/components/radio-button/">{% t headers.radio-button %}</a>ជំនួសវិញ។</li>
                </ol>
            </li>
        </ol>
    </section>

    <!-- Usability guidelines Section -->
    <section name="section-usability-guidelines">
        <h2 class="title fw-bold" id="usability-guidelines">គោលការណ៍ណែនាំនៃការរចនា</h2>
        <p>
            <b>ត្រូវសរសេរស្លាកសញ្ញាជាអក្សរឱ្យខ្លីហើយងាយយល់</b><br>
            ដើម្បីឱ្យអ្នកប្រើប្រាស់ដឹងច្បាស់ថាគាត់ត្រូវសរសេរអ្វីដាក់ក្នុង{% t headers.text-input %}មួយនេះ។
        </p>
        <p>
            <b>ស្លាកសញ្ញាជាអក្សរត្រូវនៅពីក្រៅប្រអប់</b><br>
            ស្លាកសញ្ញាជាអក្សរត្រូវនៅនៅពីលើ ឬនៅសងខាង ឬជិតប្រអប់ ប៉ុន្តែដាច់ខាតមិនត្រូវដាក់ក្នុងប្រអប់ទេ។
        </p>
        <p>
            <b>រចនាប្រវែងប្រអប់ឱ្យត្រឹមត្រូវ</b><br>
            ប្រវែងរបស់ប្រអប់ត្រូវកំណត់វាធំឬតូចអាស្រ័យនឹងប្រវែងនៃខ្លឹមសារដែលយើងរំពឹងថាអ្នកប្រើប្រាស់នឹងបញ្ចូល។
        </p>
        <p>
            <b>ផ្តល់សេចក្តីណែនាំ</b><br>
            ផ្តល់សេចក្តីណែនាំដល់អ្នកប្រើប្រាស់អំពីប្រភេទទិន្នន័យដែលត្រូវបានបញ្ចូល។ វាជួយស្រាយចម្ងល់និងកាត់បន្ថយកំហុសនៅពេលអ្នកប្រើប្រាស់បញ្ចូលទិន្នន័យ។
        </p>
        <p>
            <b>កុំប្រើប្រាស់អក្សរចាំកន្លែង</b><br>
            អក្សរចាំកន្លែងនឹងបានរលុបចេញពេលអ្នកប្រើប្រាស់បានបញ្ចូលទិន្នន័យចូល។ ប្រសិនបើអក្សរចាំកន្លែងមិនមាននៅទីនេះទេ អ្នកប្រើប្រាស់នឹងមិនបានមើលឃើញពី្របភេទទិន្នន័យដែលតគាត់ត្រូវបញ្ចូលទេ។
            ដូចនេះគួរប្រើសេចក្តីណែនាំជំនួសវិញព្រោះវាមិនរលុបបាត់ទៅវិញ។
        </p>
    </section>

    <!-- Design token Section -->
    <section name="section-design-tokens">
        <h2 class="title fw-bold" id="design-tokens">ខ្នាតសម្រាប់រចនា</h2>
        {%- highlight sass -%}{{text-input-design-tokens}}{%- endhighlight -%}
    </section>
</div>
